
<style type="text/css">
    .popAddNewpage {width: 1000px; position:relative; top:0; left:0; margin:100px auto; display:block !important;}
    .popAddNewpage .popAddTitleNewpage,.popAddNewpage .popAddNewpageChecked,.popAddNewpage .popAddNewpageCheckedfc {width: auto;}
    .popAddNewpage .popAddNewpageChecked,.popAddNewpage .popAddNewpageCheckedfc {margin-right: 40px;}
    .popAdd .popup-content p{line-height: 2;padding: 40px 20px; display: inline-block;}
    .popAdd .popAddNewpageInfo{  width: 240px; display: inline-block;color: #D04437; padding-top: 0; padding-bottom: 40px; position: relative;}
    .icon-info{display: inline-block; width: 26px; height: 26px; background:url(../prototype/images/icon34.png); padding: 0; background-size: 26px;  position: relative;
    top: 7px;}
    .icon-info:hover .list-info{display: inline-block;}
    .list-info{position: absolute; width: 300px; background-color: #EEE; left: 37px; top: -110px; padding: 5px; display: none;}
    .list-info li{font-size: 12px; line-height: 24px; word-wrap: break-word; height: auto;}
    .list-info .narrow_left{position: absolute;    width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-right: 6px solid #F0EDF0;left: -5px; top: 116px;}
</style>

<!-- 生成子页面弹窗start -->
<div class="popAdd popAddNewpage popAddPad hide">
    <div class="popAddTitle popAddTitleNewpage">
        生成子页面
    </div>
    <div class="popAddNewpageChecked">
        <p>*请选择需要生成的子页面类型</p>
        <div class="popAddNewpageCheckedfc">
            <div class="fcTitle">分&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp仓</div>
            <div class="fcRadio">
                <label class="lable-checked lable-checkedNewpageRadio">
                    <input type="radio" name="factory" ng-model="factory" value="all" ng-click="isWareHouseShow = false" ng-disabled="is_show_virtual_info">
                    <span></span> 所有分仓id相同
                </label>
                <label class="lable-checked lable-checkedNewpageRadio" >
                    <input type="radio" name="factory" ng-model="factory" value="2" ng-click="isWareHouseShow = true" ng-disabled="is_show_virtual_info">
                    <span></span> 分仓单独id
                </label>
            </div>
            <div class="fcChecked warehouse" ng-class="{hide : !isWareHouseShow}">
                <label class="lable-checked">
                    <input type="checkbox" name="warehouse" check-all ng-disabled="is_show_virtual_info">
                    <span></span> 全选
                </label>
                <label class="lable-checked" ng-repeat="warehouse in warehouses">
                    <input type="checkbox" name="warehouse" value="{{warehouse.id}}" ng-model="warehouse.check" ng-click="check($event)" ng-disabled="is_show_virtual_info">
                    <span></span> {{warehouse.name}}
                </label>
            </div>
        </div>
        <div class="popAddNewpageCheckedfc">
            <div class="fcTitle">客户类型</div>
            <div class="fcChecked">
                <label class="lable-checked">
                    <input type="checkbox" name="memberType" check-all ng-disabled="is_show_virtual_info">
                    <span></span> 全选
                </label>
                <label class="lable-checked" ng-repeat="memberType in memberTypes">
                    <input type="checkbox" name="memberType" value="{{memberType.id}}" ng-model="memberType.check" ng-click="check($event)" ng-disabled="is_show_virtual_info">
                    <span></span> {{memberType.name}}
                </label>
            </div>
        </div>
        <div class="popAddNewpageCheckedfc">
            <div class="fcTitle">销售类型</div>
            <div class="fcChecked">
                <label class="lable-checked">
                    <input type="checkbox" name="saleType" check-all ng-disabled="is_show_virtual_info">
                    <span></span> 全选
                </label>
                <label class="lable-checked" ng-repeat="saleType in saleTypes">
                    <input type="checkbox" name="saleType" value="{{saleType.id}}" ng-model="saleType.check" ng-click="check($event)" ng-disabled="is_show_virtual_info">
                    <span></span> {{saleType.name}}
                </label>
            </div>
        </div>
        <div class="popAddNewpageCheckedfc">
            <div class="fcTitle">用户群体</div>
            <div class="fcChecked">
                <label class="lable-checked">
                    <input type="checkbox" name="rule" check-all >
                    <span></span> 全选
                </label>
                <label class="lable-checked" ng-repeat="rule in rules">
                    <input type="checkbox" name="rule" value="{{rule.rule_id}}" ng-model="rule.check" ng-click="check($event)">
                    <span></span> {{rule.name}}
                </label>
            </div>
        </div>
        <div ng-if="is_show_virtual_info">
            <p class="popAddNewpageInfo" >*页面类型已按照绑定的虚拟id设置好</p>
            <span class="icon-info">
                <ul class="list-info">
                    <span class="narrow_left"></span>
                    <li>专提名称:{{virtual_info.name}}</li>
                    <li>上线时间:{{virtual_info.sale_time_from}}</li>
                    <li>下线时间:{{virtual_info.sale_time_to}}</li>
                    <li>MZT类型:{{virtual_info.special_type_name}}</li>
                    <li>上线阶段档期操作:{{virtual_info.brand_op_name}}</li>
                    <li>页面形式:{{virtual_info.page_type_name}}</li>
                    <li>功能需求:{{virtual_info.func_requirement}}</li>
                    <li>放出频道:{{virtual_info.channel_id | channel}}</li>
                    <li>放出人群:{{virtual_info.crowd | crowd}}</li>
                    <li>所属营业部:{{virtual_info.sale_department_name}}</li>
                    <li>对接人:{{virtual_info.docking_persion}}</li>
                    <li>仓库:{{virtual_info.warehouse | warehouse}}</li>
                    <li>新老客:{{virtual_info.consumer_type | consumer_type}}</li>
                    <li>销售类型:{{virtual_info.sale_type | sale_type}}</li>
                </ul>
            </span>

        </div>
    </div>

    <div class="popAdminBtn popAdminBtnNewpage">
        <a class="popAdminBtn-Cancel popAdminBtn-CancelFloor" href="" onclick="history.back()">取消</a>
        <a class="popAdminBtn-OK popAdminBtn-OKFloor" href="" ng-click="ifSave()">确定</a>
    </div>
    <!-- <a class="popAdminBtn-close" href="javascript:;"></a> -->
</div>
<!-- 生成子页面弹窗start -->


<!-- 弹窗 -->
<div popup popup-content="重新生成子页面后，链接会重新生成，原投放的链接将会失效！请三思后再点击" popup-open="isPopup" popup-save="doSave"></div>
