<style type="text/css">
	.module-tag {padding: 5px; border: 5px; background-color: rgba(0,0,0,0.5); position: absolute; right: 5px; top: 5px; color: #fff; border-radius: 5px;}
	.templetZtmb-contentUploadDrawRightpad {width: 180px; right: -200px;}
	.templetZtmb-contentUploadDrawRight .save-edited {background-color: #c00;}

	.editor-modify .module-content {display: none;}
	.editor-modify .editor-content {}



	.templetZtmb-contentUploadDrawRightpad{
		width: 190px;
	}
	.module, .hotspot-wrapper{ -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}
</style>

<div class="module" ng-class="{'editor-modify' : module.editing}">


	<!-- 这里显示组件名称 -->
	<div class="module-tag">{{module.style_cate_name}}</div>

	<!-- 这里显示组件右边的按钮操作区域 -->
	<div class="templetZtmb-contentUploadDrawRight templetZtmb-contentUploadDrawRightpad">
		<!-- {{module}} - $index -->
        <a title="编辑" ng-click="edit($event, module)" class="templetZtmb-contentUploadDrawEditeRight" href="javascript:;"></a>

        <span title="更新模型" class="temp-save-btn-wrap">
        	<a ng-click="updateModule(module,$index)" class="templetZtmb-contentUploadDrawSaveRight" ng-class="{'save-edited' : module.modify}" href="javascript:;"></a>
        	<em ng-if="module.modify" ng-click="module.modify = false">x</em>
    	</span>

        <a title="删除" ng-click="remove($event, module)" class="templetZtmb-contentUploadDrawDeleteRight" href="javascript:;"></a>

        <a title="删除所有" ng-if="module.module_type_id == 'brand'" ng-click="editAll($event, module)" class="templetZtmb-contentUploadDrawBatchEditRight" href="javascript:;"></a>

        <a title="删除所有" ng-if="module.module_type_id == 'product' || module.module_type_id == 'haitao' || module.module_type_id == 'beauty' || module.module_type_id == 'collect'" ng-click="editAll($event, module)" class="templetZtmb-contentUploadDrawBatchEditRight" href="javascript:;"></a>

        <a title="添加锚点" ng-if="module.module_type_id == 'head'" ng-click="popAnchor($event, module)" class="templetZtmb-contentUploadDrawEditenew02" href="javascript:;"></a>

        <a title="排序移动" sv-handle class="templetZtmb-contentUploadDrawTranslateRight"></a>

        <a title="预览/收起" ng-if="module.module_type_id == 'head' && pageModel == 0 " ng-click="toggleImgSrc($event, module)" class="templetZtmb-contentUploadPreviewHide" ng-class="{on: isHeadShow === true }" href="javascript:;"></a>

        <a title="导出组件快照" class="templetZtmb-contentUploadExportSnapshot" ng-click="exportSnapshot($event, module,$index)"></a>
        <a title="定时任务" ng-if="module.module_type_id == 'head'" class="templetZtmb-contentUploadTime" ng-click="setTiming($event, module, $index)"></a>


    </div>

    <!-- 这里显示组件热区 显示区域 -->
	<div ng-show="pageModel == 1 ? true : false " class="cover hotspot-wrapper" ng-switch="module.module_type_id" ng-class="{actived:module === curModule}" ng-mousedown="handleMousedown($event)" ng-mouseup="handleMouseup($event)" ng-mouseout="handleMouseout($event)" ng-mousemove="handleMousemove($event)" ng-keydown="handleKeydown($event)" ng-mouseover="handleMouseover($event)" tabindex="0">


		<style type="text/css" ng-if="module.needCss">{{module.css}}</style>
		<!-- 品购热区 start -->
		<div ng-switch-when="purchase">
			<div  class="templetZtmb-contentUploadDrawTop J_block" data-drag="true" data-jqyoui-draggable="{animate:true, onStop:'stop(block)'}" data-jqyoui-options="" ng-click="editBlock($event, block, $index)" ng-repeat="block in module.model.list track by $index" style="left:{{block.left}}; top:{{block.top}}; width:{{block.width}}; height:{{block.height}}">
				<div class="templetZtmb-contentUploadDraw">{{block.position}}</div>
				<div class="templetZtmb-contentUploadDrawicon">
				  <a class="templetZtmb-contentUploadDrawDelete" href="javascript:;" ng-mousedown="stopEvent($event)" ng-mouseup="stopEvent($event)" ng-mouseout="stopEvent($event)" ng-mousemove="stopEvent($event)" ng-click="removeBlock($event, block, $index)"></a>
				</div>
			</div>
		</div>
		<!-- 品购热区 end -->

		<!-- 图片热区 start -->
		<div ng-switch-when="head">
			<div class="templetZtmb-contentUploadDrawTop J_block" data-drag="true" data-jqyoui-draggable="{animate:true, onStop:'stop(block)'}" data-jqyoui-options=""  ng-click="editBlock($event, block, $index)" ng-repeat="block in module.model.list" style="left:{{block.left}}; top:{{block.top}}; width:{{block.width}}; height:{{block.height}}">
				<div class="templetZtmb-contentUploadDraw"></div>
				<div class="templetZtmb-contentUploadDrawicon">
				  <a class="templetZtmb-contentUploadDrawDelete" href="javascript:;" ng-mousedown="stopEvent($event)" ng-mouseup="stopEvent($event)" ng-mouseout="stopEvent($event)" ng-mousemove="stopEvent($event)" ng-click="removeBlock($event, block, $index)"></a>
				</div>
			</div>
		</div>
		<!-- 图片热区 end -->

		<!-- 自定义组件热区 start -->
		<div ng-switch-when="custom_config">
			<div  class="templetZtmb-contentUploadDrawTop J_block" data-drag="true" data-jqyoui-draggable="{animate:true, onStop:'stop(block)'}" data-jqyoui-options=""  ng-click="editBlock($event, block, $index)" ng-repeat="block in module.model.list" style="left:{{block.left}}; top:{{block.top}}; width:{{block.width}}; height:{{block.height}}">
				<div class="templetZtmb-contentUploadDraw"></div>
				<div class="templetZtmb-contentUploadDrawicon">
				  <a class="templetZtmb-contentUploadDrawDelete" href="javascript:;" ng-mousedown="stopEvent($event)" ng-mouseup="stopEvent($event)" ng-mouseout="stopEvent($event)" ng-mousemove="stopEvent($event)" ng-click="removeBlock($event, block, $index)"></a>
				</div>
			</div>
		</div>
		<!-- 自定义组件热区 end -->

		<!-- 档期热区 start -->
		<div ng-switch-when="brand" sv-root sv-part="module.data" sv-on-start="onDataSort($item, $partFrom, $partTo, $indexFrom, $indexTo, module)">
			<div  class="templetZtmb-contentUploadDrawTop templetZtmb-contentUploadDrawTop-float J_block" sv-element="opts"  ng-click="editBlock($event, block, $index)" ng-repeat="block in module.data" style="width:100px; height:100px">
				<div class="templetZtmb-contentUploadDraw">
					<!-- <div><img style="max-width:100%" src="http://a.appsimg.com/upload/brand/{{block.origin.mobile_image_two}}"></div> -->
					<div>{{block.extend.brand_id}}</div>
					<div>{{block.extend.brand_name}}</div>
				</div>
			</div>
		</div>
		<!-- 档期热区 end -->

		<!-- 商品热区 start -->
		<div ng-switch-when="product" sv-root sv-part="module.data" sv-on-start="onDataSort($item, $partFrom, $partTo, $indexFrom, $indexTo, module)">
			<div  class="templetZtmb-contentUploadDrawTop templetZtmb-contentUploadDrawTop-float J_block" sv-element="opts"  ng-click="editBlock($event, block, $index)" ng-repeat="block in module.data" style="width:100px; height:100px">
				<div class="templetZtmb-contentUploadDraw">
					<div>{{block.extend.brand_id}}</div>
					<div>{{block.extend.product_id}}</div>
					<div>{{block.extend.product_name}}</div>
				</div>
			</div>
		</div>


		<!-- 导航条热区 start -->
		<div ng-switch-when="nav" sv-root sv-part="module.model.list" sv-on-start="onDataSort($item, $partFrom, $partTo, $indexFrom, $indexTo, module)">
			<div  class="templetZtmb-contentUploadDrawTop templetZtmb-contentUploadDrawTop-float J_block" sv-element="opts"  ng-click="editBlock($event, block, $index)" ng-repeat="block in module.model.list" style="width:100px; height:100px">
				<div class="templetZtmb-contentUploadDraw">
					<div>{{block.title}}</div>
					<div>{{block.type}}</div>
				</div>
			</div>
		</div>

		<!-- 悬浮球热区 start -->
		<div ng-switch-when="suspend">
			<div  class="templetZtmb-contentUploadDrawTop J_block" data-drag="true" data-jqyoui-draggable="{animate:true, onStop:'stop(block)'}" data-jqyoui-options=""  ng-click="editBlock($event, block, $index)" ng-repeat="block in module.model.list track " style="left:{{block.left}}; top:{{block.top}}; width:{{block.width}}; height:{{block.height}}">
				<div class="templetZtmb-contentUploadDraw"></div>
				<div class="templetZtmb-contentUploadDrawicon">
				  <a class="templetZtmb-contentUploadDrawDelete" href="javascript:;" ng-mousedown="stopEvent($event)" ng-mouseup="stopEvent($event)" ng-mouseout="stopEvent($event)" ng-mousemove="stopEvent($event)" ng-click="removeBlock($event, block, $index)"></a>
				</div>
			</div>
		</div>
		<!-- 悬浮球热区 end -->


		<!-- 海淘单品热区 start -->
		<div ng-switch-when="haitao" sv-root sv-part="module.data" sv-on-start="onDataSort($item, $partFrom, $partTo, $indexFrom, $indexTo, module)">
			<div  class="templetZtmb-contentUploadDrawTop templetZtmb-contentUploadDrawTop-float J_block" sv-element="opts"  ng-click="editBlock($event, block, $index)" ng-repeat="block in module.data" style="width:100px; height:100px" >
				<div class="templetZtmb-contentUploadDraw">
					<div>{{block.extend.brand_id}}</div>
					<div>{{block.extend.product_id}}</div>
					<div>{{block.extend.product_name}}</div>
				</div>
			</div>
		</div>
		<!-- 海淘单品热区 end -->

		<!-- 美妆单品热区 start -->
		<div ng-switch-when="beauty" sv-root sv-part="module.data" sv-on-start="onDataSort($item, $partFrom, $partTo, $indexFrom, $indexTo, module)">
			<div  class="templetZtmb-contentUploadDrawTop templetZtmb-contentUploadDrawTop-float J_block" sv-element="opts"  ng-click="editBlock($event, block, $index)" ng-repeat="block in module.data" style="width:100px; height:100px" >
				<div class="templetZtmb-contentUploadDraw">
					<div>{{block.extend.brand_id}}</div>
					<div>{{block.extend.product_id}}</div>
					<div>{{block.extend.product_name}}</div>
				</div>
			</div>
		</div>
		<!-- 美妆单品热区 end -->

		<!-- 商品收藏单品热区 start -->
		<div ng-switch-when="collect" sv-root sv-part="module.data" sv-on-start="onDataSort($item, $partFrom, $partTo, $indexFrom, $indexTo, module)">
			<div  class="templetZtmb-contentUploadDrawTop templetZtmb-contentUploadDrawTop-float J_block" sv-element="opts"  ng-click="editBlock($event, block, $index)" ng-repeat="block in module.data" style="width:100px; height:100px" >
				<div class="templetZtmb-contentUploadDraw">
					<div>{{block.extend.brand_id}}</div>
					<div>{{block.extend.product_id}}</div>
					<div>{{block.extend.product_name}}</div>
				</div>
			</div>
		</div>
		<!-- 商品收藏单品热区 end -->
	</div>

	<div ng-show="pageModel == 1 ? true : false ">
		<iframe class="module-content" height="10"  ng-src="{{src}}" frameborder="0"></iframe>
	</div>

	<div ng-show="pageModel == 0 && module.module_type_id == 'head' ">

		<img style="width:100%;display:block;" ng-if="isHeadShow && pageClass == 'phone' " ng-src="{{module.model.phone_pic_src}}">
		<img style="width:100%;display:block;" ng-if="isHeadShow && pageClass == 'pad' " ng-src="{{module.model.pad_pic_src}}">
	</div>

	<div ng-if="curEditType == 'editor' && module.editing" class="editor-content">
		<!-- <div class="plugin-editor" ng-bind-html="module.model.text | trustHtml"></div> -->
		<div class="ueditor" ng-model="module.model.text" config="_simpleConfig"></div>
	</div>
</div>
