<!-- {{pageIndex}}-- 共{{curPager.total}}条数据，{{curPager.totalPage}}页，当前第{{curPager.pageNo}}页，
每页显示<input type="text" ng-model="curPager.pageNum">,
<a href="" ng-click="prev()" ng-show="curPager.pageNo > 1">上一页</a>
<span ng-show="curPager.pageNo == 1">上一页</span>
<a href="" ng-click="next()" ng-show="curPager.pageNo < curPager.totalPage">下一页</a>
<span ng-show="curPager.pageNo == curPager.totalPage">下一页</span>，
<input type="text" ng-model="curPager.pageRander">
<button ng-click="goTo(curPager.pageRander,'init')">跳转</button>
 -->

<div class="content04">
    <div class="fanye">
        <p>共<span>{{curPager.total}}</span>条记录</p>
        <a class="syyBtn" ng-click="prev()">上一页</a>
        <a href="#" ng-repeat="value in curPager.totalPage">{{$index}}</a>
        <!-- <a class="checked" href="#">1</a>
        <a href="#">2</a>
        <a class="fanyeChecked" href="#">3</a>
        <a href="#">...</a>
        <a href="#">8</a>
        <a href="#">9</a>
        <a href="#">10</a> -->
        <a class="nextBtn" ng-click="next()">下一页</a>
        <p>跳转到 <input type="text" ng-model="curPager.pageRander">页</p>
        <a class="goNext" ng-click="goTo(curPager.pageRander,'init')">GO</a>
    </div>
</div>
