<style type="text/css">
    .popAdmin .popAdminInputShouye{width: 436px;}
    .popAdminInputShouye p {line-height: 150px; font-size: 16px;}
    .popShouye {margin-top: -130px;}

    .popAdminChecked {min-height: 200px}
    .popAdminChecked .popPicCssStyleNameUser{margin: 25px 0 30px 0;width: 490px;}
    .popAdminChecked .checks {margin:10px 0;}
    .popAdminChecked .checks .sep {margin-right: 10px; color: #eee}
    .popAdmin .checks p {color: #322e33; font: 14px/30px "Microsoft YaHei"; float: left; overflow: hidden; width: 76px; text-align: left;}
    .popAdmin .checks label {float: none; display: inline-block; padding: 5px 0 0;}
    .popAdmin .checks label span{width: 21px; float: none; display: inline-block;}
    .popAdmin .wrap-checkbox{padding-left: 76px;}

    .popAdminChecked .checks-h200 { height: 200px; overflow-x: hidden; overflow-y: auto;}
</style>
<div class="content01" crumb="roleList"></div>

<div class="content02 content02User">
    <a class="addZt plEdited" href="" ng-click="showPopup()">新增</a>
    <a class="tabRight deleteZtUser deleteZtFb" href="" ng-click="preDelete()" >删 除</a>
    <a class="tabRight deleteZtUser manaUser publishBtn" href="#/user/list">用户管理</a>

    <label class="ptSearch ptSearchUser">
        <input type="text" placeholder="请输入关键字搜索" ng-model="filtText" ng-keyup="searchKeyUp($event,this,'pageChanged')"/>
        <a class="searchBtn" ng-click="pageChanged(1, true)"></a>
    </label>
</div>
<div class="content03">
    <table class="tableUser">
        <tbody>
            <tr>
                <th width="10%">
                    <!-- <input type="checkbox" ng-model="chkall" ng-click="selectAll(chkall)" >全选 -->
                    <label class="lable-checked">
                        <input type="checkbox" ng-model="chkall" name="check" check-all>
                        <span></span>
                    </label>
                </th>
                <th width="75%">角色名</th>
                <th>权限设置</th>
            </tr>
            <tr ng-show="roles.list.length == 0 && !loading">
                <td colspan="3">没有相应的搜索数据，请换个关键字试试！</td>
            </tr>
            <tr dir-paginate="role in roles.list | itemsPerPage: 10" total-items="roles.total" current-page="roles.pageNo">
                <td>
                    <label class="lable-checked">
                        <input name="check" type="checkbox" value="{{role.id}}" ng-model="role.check" ng-click="check($event)">
                        <span></span>
                    </label>
                </td>
                <td>{{role.name}}</td>
                <td>
                    <a class="shezhi" href="" ng-click="showPopup(role.id)">设置</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<dir-pagination-controls template-url="common/directive/angular-pager.html" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>

<div popup popup-content="要删除的角色还有用户，确认删除？" popup-open="popRoleOpen" popup-save="delete"></div>

<div popup popup-content="请选择要删除的子页面！" popup-open="popDelOpen" popup-save="checkUserInRole"></div>

<div popup popup-open="popupOpen" popup-template="'modifyForm.html'" popup-data="role"></div>

<script type="text/ng-template" id="modifyForm.html">
<div class="popAdmin popup-normal" ng-show="popupOpen" ng-if="template">
    <div class="popAdminTitle">
        {{data.roleInfo.id ? '编辑' : '新增'}}角色
    </div>
    <div class="popAdminChecked">
        <div class="popPicCssStyleName popPicCssStyleNameUser">
            <b>角色名</b>
            <label>
                <input type="text" ng-model="data.name" class="popPicInput">
            </label>
        </div>
        <div class="checks">
            <p>客户端</p>
            <div class="wrap-checkbox">
                <label class="lable-checked">
                    <input type="checkbox" name="client" check-all>
                    <span></span>
                    全选
                </label>
                <label class="lable-checked" ng-repeat="client in data.clients">
                    <input type="checkbox" name="client" value="{{client.id}}" ng-model="client.check" ng-click="data.check($event)">
                    <span></span>
                    {{client.name}}
                </label>
            </div>
        </div>

        <div class="checks checks-h200">
            <p>MZT分类</p>
            <div class="wrap-checkbox">
                <label class="lable-checked">
                    <input type="checkbox" name="special" check-all>
                    <span></span>
                    全选
                </label>
                <label class="lable-checked" ng-repeat="special in data.specials">
                    <input type="checkbox" name="special" value="{{special.id}}" ng-model="special.check" ng-click="data.check($event)">
                    <span></span>
                    {{special.name}}
                </label>
            </div>
        </div>
    </div>

    <div class="popAdminBtn">
        <a class="popAdminBtn-Cancel popAdminBtn-Cancel-attribute" ng-click="cancle()">取消</a>
        <a class="popAdminBtn-OK popAdminBtn-OK-attripute" href="" ng-click="data.postData()">确定</a>
    </div>
    <a class="popAdminBtn-close" href="" ng-click="cancle()"></a>
</div>
</script>
