<style type="text/css">
    .popAdmin {position: relative; top: 0; margin-top: 50px; margin-bottom: 50px;}
    .popAdminChecked .popPicCssStyleNameUser{margin: 25px 0 30px 0;width: 490px;}
    .popAdminChecked .checks {margin:10px 0;}
    .popAdminChecked .checks .sep {margin-right: 10px; color: #eee}
</style>

<div class="popAdmin popPower">
    <div class="popAdminTitle">
        权限设置
    </div>
    <div class="popAdminChecked">
        <div class="popPicCssStyleName popPicCssStyleNameUser">
            <b>角色名</b>
            <label>
                <input type="text" ng-model="role.name" class="popPicInput">
            </label>
        </div>

        <div class="checks" ng-repeat="(key,value) in types">
            <label class="lable-checked">
                <input type="checkbox" ng-model="chkall" name="check{{key}}" check-all>
                <span></span> {{value.name}}
            </label>
            <span class="sep">|</span>
            <label class="lable-checked" ng-repeat="permission in value.sub_list">
                <input name="check{{key}}" type="checkbox" value="{{permission.access_list}}" ng-model="permission.checked" ng-click="check($event)">
                <span></span> {{permission.name}}
            </label>
        </div>
    </div>
    <div class="popAdminBtn">
        <a class="popAdminBtn-Cancel popAdminBtn-Cancel-attribute" href="#/role/list">取消</a>
        <a class="popAdminBtn-OK popAdminBtn-OK-attripute" href="javascript:;" ng-click="postData()">确定</a>
    </div>
    <!-- <a class="popAdminBtn-close" href="javascript:;"></a> -->
    <input type="hidden" check-all>
</div>

