<style type="text/css">
    .popAdmin {position: relative; top: 0; margin-top: 50px; margin-bottom: 50px;}
    .popAdmin .popAdminInput .other-type {padding-top: 15px; overflow: hidden;}
    .popAdmin .popAdminInput .other-type label {display: inline;}
    .popAdmin .popAdminInput .other-type label span {width: 16px; float: none;}
    .popAdmin .popAdminInput .other-type p {float: left; width: 76px;font:14px/30px "Microsoft YaHei";}
</style>

<div class="popAdmin" component="display:block;">
    <div class="popAdminTitle">
        {{component.id ? '编辑' : '新增'}}组件
    </div>
    <div class="popAdminInput">
        <label>
            <span>组件名称</span>
            <input type="text" ng-model="component.name">
        </label>
        <label>
            <span>样式组分类</span>
            <div class="popAdminSelect" ng-click="isDropStyleCate = true; $event.stopPropagation()">
                {{curStyleCate.name}}
                <div class="popXlicon popXlicon_green"></div>
            </div>
            <div class="tablexlChecked tablexlChecked_user tablexlChecked_usernew" ng-show="isDropStyleCate">
                <span ng-repeat="cate in cates" ng-click="$parent.curStyleCate = cate">{{cate.name}}</span>
            </div>
        </label>
        <div class="other-type">
            <p>是否常用</p>
            <label class="lable-checked lable-checkedNewpageRadio">
                <input type="radio" name="common" ng-model="component.is_common" value="1">
                <span></span> 是
            </label>
            <label class="lable-checked lable-checkedNewpageRadio">
                <input type="radio" name="common" ng-model="component.is_common" value="0">
                <span></span> 否
            </label>
        </div>
    </div>

    <div class="popAdminBtn">
        <a class="popAdminBtn-Cancel popAdminBtn-Cancel-attribute" href="#/component/list">取消</a>
        <a class="popAdminBtn-OK popAdminBtn-OK-attripute" href="javascript:;" ng-click="postData()">确定</a>
    </div>
    <!-- <a class="popAdminBtn-close" href="javascript:;"></a> -->
</div>


