<style type="text/css">
    .popAdmin .popAdminInputShouye{width: 436px;}
    .popAdminInputShouye p {line-height: 150px; font-size: 16px;}
    .popShouye {margin-top: -130px;}

    .popAdmin .popAdminInput .other-type {padding-top: 15px; overflow: hidden;}
    .popAdmin .popAdminInput .other-type label {display: inline;}
    .popAdmin .popAdminInput .other-type label span {width: 16px; float: none;}
    .popAdmin .popAdminInput .other-type p {float: left; width: 76px;font:14px/30px "Microsoft YaHei";}

    .popAdmin .popAdminSelect,.popAdmin .popAdminInput .tablexlChecked_usernew {width: 212px;}
    .popAdmin .popAdminInput .tablexlChecked_usernew span {width: auto; float: none; display: block;}
    .popAdmin .popAdminInput {width: 306px; height: auto; margin-bottom: 20px;}
    .popAdmin .popAdminInput label input {width: 205px}
</style>
<div class="content01" crumb="ruleList"></div>

<div class="content02 content02User">
    <a class="addZt plEdited" href="" ng-click="showPopup()">新增</a>
    <a class="tabRight deleteZtUser deleteZtFb" href="" ng-click="preDelete()" >删 除</a>
    <!-- <a class="tabRight deleteZtUser manaUser publishBtn" href="#/user/list">用户管理</a> -->

    <!-- <label class="ptSearch ptSearchUser">
        <input type="text" placeholder="请输入关键字搜索" ng-model="filtText" ng-keyup="searchKeyUp($event,this,'pageChanged')"/>
        <a class="searchBtn" ng-click="pageChanged(1)"></a>
    </label> -->
</div>
<div class="content03">
    <table class="tableUser">
        <tbody>
            <tr>
                <th width="10%">
                    <!-- <input type="checkbox" ng-model="chkall" ng-click="selectAll(chkall)" >全选 -->
                    <label class="lable-checked">
                        <input type="checkbox" ng-model="chkall" name="check" check-all>
                        <span></span>
                    </label>
                </th>
                <th>用户群名</th>
                <th>用户群</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <!-- <th>动作</th> -->
                <th>是否启用</th>
            </tr>
            <tr ng-show="rules.list.length == 0 && !loading">
                <td colspan="3">没有相应的搜索数据，请换个关键字试试！</td>
            </tr>
            <tr ng-repeat="rule in rules">
                <td>
                    <label class="lable-checked">
                        <input name="check" type="checkbox" value="{{rule.rule_id}}" ng-model="rule.check" ng-click="check($event)">
                        <span></span>
                    </label>
                </td>
                <td><a href="javascript:" ng-click="showPopup(rule.rule_id)" class="blue">{{rule.rule_name}}</a></td>
                <td>
                    {{rule.user_group_name}}
                </td>
                <td>
                    {{rule.begin_time}}
                </td>
                <td>
                    {{rule.end_time}}
                </td>
                <!-- <td>{{rule.action}}</td> -->
                <td>{{rule.enabled ? '是' : '否'}}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <dir-pagination-controls template-url="common/directive/angular-pager.html" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls> -->

<div popup popup-content="确定要删除这些用户群？" popup-open="popDelOpen" popup-save="delete"></div>

<div popup popup-open="popupOpen" popup-template="'modifyForm.html'" popup-data="rule"></div>

<script type="text/ng-template" id="modifyForm.html">
<div class="popAdmin popup-normal" ng-show="popupOpen" ng-if="template">
    <div class="popAdminTitle">
        {{data.id ? '编辑' : '新增'}}用户群
    </div>
    <div class="popAdminInput">
        <label>
            <span>用户群名</span>
            <input type="text" ng-model="data.rule_name">
        </label>
        <label>
            <span>　用户群</span>
            <div class="popAdminSelect" drop-name="isDropUserGroup">
                {{data.curUserGroup.name}}
                <div class="popXlicon popXlicon_green"></div>
            </div>
            <div class="tablexlChecked tablexlChecked_user tablexlChecked_usernew" ng-show="data.isDropUserGroup">
                <span ng-repeat="group in data.userGroup" ng-click="data.curUserGroup = group">{{group.name}}</span>
            </div>
        </label>
        <label>
            <span>开始时间</span>
            <input type="text" ui-time="begin_time" ui-min-range="end_time" ng-model="data.begin_time" ng-readonly="true">
        </label>
        <label>
            <span>结束时间</span>
            <input type="text" ui-time="end_time" ui-max-range="begin_time" ng-model="data.end_time" ng-readonly="true">
        </label>
        <!--<label>
            <span>　　动作</span>
            <input type="text" ng-model="data.action">
        </label>-->

        <div class="other-type">
            <p>是否启用</p>
            <label class="lable-checked lable-checkedNewpageRadio">
                <input type="radio" name="enabled" ng-model="data.enabled" value="1">
                <span></span> 是
            </label>
            <label class="lable-checked lable-checkedNewpageRadio">
                <input type="radio" name="enabled" ng-model="data.enabled" value="0">
                <span></span> 否
            </label>
        </div>
    </div>

    <div class="popAdminBtn">
        <a class="popAdminBtn-Cancel popAdminBtn-Cancel-attribute" ng-click="cancle()">取消</a>
        <a class="popAdminBtn-OK popAdminBtn-OK-attripute" href="" ng-click="data.postData()">确定</a>
    </div>
    <a class="popAdminBtn-close" href="" ng-click="cancle()"></a>
</div>
</script>

