<style type="text/css">
    .detailBox table .checkedEdite {
        width: auto;
    }

    .detailBox table .checkedEdite .edictList {
        float: none;
        display: inline-block;
        color: #fff
    }

    .ztfl .ztflXL {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .detailBox table {
        height: auto;
    }

    .content03 li.no-data {
        width: 100%;
        height: 500px;
        line-height: 500px;
        text-align: center;
    }

    .popAdmin .popAdminInput label input {
        width: 150px;
    }

    .content_BatchEdit_01_search {
        width: 1300px;
        height: auto;
    }

    .content_BatchEdit_01_search .searchBtnad {
        padding: 0 10px;
    }

    .search-input {
        width: 900px;
        float: left;
    }

    .search-btn {
        float: left;
    }

    .search-btn .searchBtnad {
        margin: 0 0 10px;
    }

    .search-btn .searchBtnadLa {
        display: block;
    }

    .exceldata .summaryBox {
        padding: 0 40px;
    }

    .exceldata .summaryBox_selected {
        background-image: none;
    }

    .exceldata .summaryBoxDown {
        color: blue;
        text-decoration: underline;
        cursor: pointer;
        float: right;
        padding-right: 20px;
    }

    .detailBox .tableXlStyleManage {
        margin: 11px 0;
        background-color: #FFF;
    }

    .detailBox .tableXlDrop2 {
        background: none;
    }

    .detailBox table th {
        position: relative;
    }

    .detailBox .checks {
        padding: 5px 10px;
        text-align: left;
    }

    .detailBox .tablexlChecked {
        background: #f5f5f5;
        border: 1px solid #EEE;
        max-height: 490px;
    }

    .detailBox .checks .lable-checked {
        display: block;
        margin: 0px 10px;
        min-height: 30px;
        line-height: 30px;
    }

    .detailBox .tableXl span {
        margin-right: 26px;
        background-color: #D1D1D1;
        line-height: 30px;
    }

    .btn-min-ok {
        background: #59c893;
        color: #ffffff;
        border: none;
        display: block;
        border-radius: 3px;
        margin: auto;
        padding: 3px 20px;
        font-weight: normal;
        width: 118px;
        margin: 5px auto;
    }

</style>
<div class="content01" ng-show="!isSearch">
    <a class="addZt" ng-click="toCreateSpecial($event)" href="#">新增MZT</a>
    <label class="ptSearch">
        <input type="text" placeholder="请输入关键字搜索" ng-model="name" ng-keyup="goAdvSearch($event)"/>
        <a class="searchBtn" href="#/search/{{name}}"></a>
    </label>
    <a class="gjSearch" href="#/search">高级搜索</a>
</div>
<div class="content02" ng-show="!isSearch">
    <div class="tabZT">
        <div class="tab" ng-repeat="tab in tabs" ng-class="{tabSelected:tabInitIndex == tab.index}"
             ng-click="clickTabBtn(tab.index)">
            {{tab.name}}
        </div>
    </div>
    <div class="ztfl" ng-click="toggleShow($event,'cateListShow')">
        {{curCate ? curCate.name : 'MZT分类'}}
        <span></span>

        <div class="ztflXL" ng-show="cateListShow">
            <span ng-repeat="cateItem in cateLists" ng-click="setSelectValue('curCate',cateItem);pageChanged(1)">
            {{cateItem.name}}
            </span>
        </div>
    </div>
    <div class="tabRightBtn">
        <a class="tabRight" href="#" ng-show="tabInitIndex != 4" ng-click="edits($event)">批量编辑</a>
        <a class="tabRight" href="#" ng-show="tabInitIndex != 4" ng-click="outUrl($event)">导出URL</a>
        <a class="tabRight" ng-show="tabInitIndex != 4" ng-click="copyTpl($event)">复制模板</a>
        <a class="tabRight deleteZt" ng-show="tabInitIndex != 3" ng-click="preDelete($event)">删除</a>
    </div>
</div>

<div class="content01" crumb="search" ng-if="isSearch"></div>

<div class="content03 content_BatchEdit content_searchAd" ng-show="isSearch">
    <div class="content_BatchEdit_01 content_BatchEdit_01_search">
        <div class="search-input">
            <label><b>MZT名称</b>
                <input type="text" ng-model="name" ng-keyup="searchKeyUp($event,this,'pageChanged')">
            </label>
            <label><b>子页面ID</b>
                <input type="text" ng-model="page_id" ng-keyup="searchKeyUp($event,this,'pageChanged')">
            </label>

            <div class="clear"></div>
            <label>
                <b>MZT状态</b>

                <div class="popAdminSelect popAdminSelectBatchEdite" ng-click="toggleShow($event,'statusShow')">
                    {{curStatus.name}}
                    <div class="popXlicon popXlicon_green"></div>
                </div>
                <div class="tablexlChecked tablexlChecked_BatchEdit tablexlChecked_SearchAd" ng-show="statusShow">
                    <span ng-repeat="tab in tabs" ng-click="setSelectValue('curStatus',tab);pageChanged(1);">{{tab.name}}</span>
                </div>
            </label>
            <label>
                <b>MZT分类</b>

                <div class="popAdminSelect popAdminSelectBatchEdite popXlicon_time"
                     ng-click="toggleShow($event,'cateListShow')">
                    {{curCate.name}}
                    <div class="popXlicon popXlicon_green"></div>
                </div>
                <div class="tablexlChecked tablexlChecked_BatchEdit tablexlChecked_SearchAd" ng-show="cateListShow">
                    <span ng-repeat="cateItem in cateLists"
                          ng-click="setSelectValue('curCate',cateItem);pageChanged(1);">{{cateItem.name}}</span>
                </div>
            </label>
            <!-- <label>
                <b>开始时间</b>
                <div class="popAdminSelect popAdminSelectBatchEdite">
                    <input ng-model="start_time" ui-time="global_start_time" ui-time-time="{'hour' : '10','minute' : '0','second' : '0'}" ui-min-range="global_end_time" ng-readonly="true"></input>
                    <div class="popXlicon"></div>
                </div>
            </label>
            <label>
                <b>结束时间</b>
                <div class="popAdminSelect popAdminSelectBatchEdite">
                    <input ng-model="end_time" ui-time="global_end_time" ui-time-time="{'hour' : '9','minute' : '59','second' : '59'}" ui-max-range="global_start_time" ng-readonly="true"></input>
                    <div class="popXlicon"></div>
                </div>
            </label> -->

        </div>
        <div class="search-btn">
            <a class="searchBtnad searchBtnadLa" href="" ng-click="pageChanged(1)">查询</a>
            <a class="searchBtnad" href="#" ng-click="reset($event)">复位</a>
            <a class="searchBtnad" href="#" ng-click="edits($event)">批量编辑</a>
            <a class="searchBtnad" href="#" ng-click="outUrl($event)">导出URL</a>
            <a class="searchBtnad" href="#" ng-click="copyTpl($event)">复制模板</a>
            <a class="searchBtnad" href="#" ng-click="preDelete($event)">删除</a>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="content03" ng-repeat="tab in tabs" ng-show="tabInitIndex == tab.index">
    <ul>
        <li ng-show="(!listsData.data.list || listsData.data.list.length == 0) && !loading && tab.param !='toBeUpdated'"
            class="no-data">
            没有相应的搜索数据，请换个关键字试试！
        </li>
        <!-- <li ng-if=" tab.param =='toBeUpdated'" dir-paginate="exceldata in excelUpdateData.list | itemsPerPage: excelUpdateData.pageNum" total-items="excelUpdateData.total" class="exceldata" current-page="watchCurPage">
            <div class="summaryBox" >
                <div class="summaryBox-pos summaryBox_selected">{{exceldata.special_id}}</div>

                <a class="summaryBox-name summaryBox_selected" href="javascript:void(0);">{{exceldata.special_name}}</a>

                <span ng-show="exceldata.is_not_purchase_update == 1 " class="summaryBoxDown" ng-click="down_excel( exceldata.special_id, exceldata.excel_path_not_purchase ,0)">
                    非品购id表下载
                </span>
                <span ng-show="exceldata.is_purchase_update == 1" class="summaryBoxDown" ng-click="down_excel( exceldata.special_id, exceldata.excel_path_purchase ,1)">
                    品购id表下载
                </span>

            </div>
        </li> -->

        <li ng-if=" tab.param !='todo'" pagination-id="paginate1"
            dir-paginate="brandItem in listsData.data.list | itemsPerPage: listsData.data.pageNum"
            total-items="listsData.data.total" class="{{!brandItem.fold ? 'summaryBox_extend' : ''}}"
            ng-init="listIndex = $index" current-page="listsData.data.pageNo">
            <div class="summaryBox" ng-if="tab.param !='toBeUpdated'">
                <input class="summaryBox-checkbox" type="checkbox" name="brand">
                <label class="lable-checked lable-checkedselectedT">
                    <!-- <input type="checkbox" value="{{brandItem.id}}" ng-model="brandItem.checked" ng-click="selectAll($event,brandItem.id)" ng-checked="isSelectedAll(brandItem.id)" />
 -->
                    <input type="checkbox" value="{{brandItem.id}}" ng-model="brandItem.checked"
                           ng-click="selectAll($event,brandItem.id)"/>

                    <span></span>
                </label>

                <div class="summaryBox-pos summaryBox_selected">{{brandItem.id}}</div>
                <a class="summaryBox-classify" target="_brank" href=""
                   ng-click="setSelectValue('curCate',{ id : brandItem.cate_id, name : brandItem.cate_name});pageChanged(1)">{{brandItem.cate_name}}</a>
                <a class="summaryBox-name summaryBox_selected" target="_brank" href="/#/special/edit/{{brandItem.id}}">{{brandItem.name}}</a>

                <a class="" href="javascript:;"
                   ng-class="{swithBtnClose: brandItem.autoSyncSwitch == 'close',swithBtnOpen:brandItem.autoSyncSwitch == 'open'}"
                   ng-click="pullAutoSyncSwitch(brandItem.id,$event)"
                   data-action="{{brandItem.autoSyncSwitch == 'open' ? 'close' : 'open'}}"></a>

                <a href="javascript:;"
                   ng-class="{'summaryBox-toggle':brandItem.fold,'summaryBox-toggle-checked':!brandItem.fold}"
                   ng-click="setFold(brandItem)"></a>
            </div>
            <div class="detailBox" ng-show="!brandItem.fold && tab.param !='toBeUpdated'">
                <table>
                    <tbody>
                    <tr>
                    <tr>
                        <th width="5%;">选择</th>
                        <th width="8%">档期图预览</th>
                        <th width="4%;">排序</th>
                        <th>
                            <div class="tableXl tableXlStyleManage ng-binding" ng-init="isDropSelect = false"
                                 ng-click="isDropSelect? isDropSelect=false:isDropSelect=true">
                                用户群体
                                <span></span>
                            </div>
                            <div class="tablexlChecked tablexlChecked_user tablexlChecked_usernew tablexlChecked_usernewStyle "
                                 ng-show="isDropSelect">
                                <div class="checks">
                                    <label class="lable-checked">
                                        <input type="checkbox" name="rule" check-all>
                                        <span></span>
                                        全选
                                    </label>
                                    <label class="lable-checked" ng-repeat="rule in childPageRule[brandItem.id]">
                                        <input type="checkbox" name="rule" value="{{rule}}" ng-click="check($event)">
                                        <span></span>
                                        {{rule}}
                                    </label>
                                    <button class="btn-min-ok"
                                            ng-click="isDropSelect=false; select_rule($event, brandItem.id)">确定
                                    </button>
                                </div>
                            </div>
                        </th>
                        <th width="5%;">仓位</th>
                        <th width="10%">在售类型</th>
                        <th width="14%">客户类型</th>
                        <th width="6%">开始时间</th>
                        <th width="6%">结束时间</th>
                        <th width="8%">插入频道</th>
                        <!-- <th>MZT分类</th> -->
                        <th width="6%;">操作人员</th>
                        <th width="16%">操作</th>
                    </tr>

                    </tr>
                    <tr ng-repeat="tplItem in childPage[brandItem.id] | filter: filter_rule">
                        <td>
                            <label class="lable-checked">
                                <input type="checkbox" name="tpl" value="{{tplItem.id}}" ng-model="tplItem.checked"
                                       ng-click="updateSelection($event, tplItem.id)"/><span></span>
                                {{tplItem.id}}</label>
                        </td>
                        <td><img ng-src="{{tplItem.image ? tplItem.image : 'prototype/images/icon11.png'}}"
                                 ng-click="showPopupImg(tplItem.image)" width="95" heigth="44"/></td>
                        <td>{{tplItem.position}}</td>
                        <td>{{tplItem.rule_name}}</td>
                        <td>{{tplItem.warehouse}}</td>
                        <td>{{tplItem.sale_type}}</td>
                        <td>{{tplItem.member_type}}</td>
                        <td>{{tplItem.start_time | time1}} <span class="timeColor">{{tplItem.start_time | time2}}</span>
                        </td>
                        <td>{{tplItem.end_time | time1}} <span class="timeColor">{{tplItem.end_time | time2}}</span>
                        </td>
                        <td>{{tplItem.channel_name}}</td>
                        <!-- <td>{{tplItem.special_type}}</td> -->
                        <td>{{tplItem.operator}}</td>
                        <td>
                            <div class="checkedEdite">
                                <a class="" href="javascript:;" ng-show="tabInitIndex == 0"
                                   ng-class="{checkedHide: tplItem.display == 0,checkedXshi:tplItem.display == 1}"
                                   ng-click="tplItemShow(tplItem)"></a>
                                <a href="#" class="edictList" ng-show="tabInitIndex == 1 || tabInitIndex == 2"
                                   ng-click="toPreview($event, tplItem, brandItem.id)">预览</a>
                                <a class="edictList" href="#"
                                   ng-click="toPageEdit($event, tplItem, brandItem.id)">编辑</a>
                                <a class="edictList" href="#" ng-click="toPreview($event, tplItem, brandItem.id)">预览</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </li>
    </ul>
    <div ng-if="tab.param =='todo'" class="virtual-special detailBox">
        <table width="100%">
            <tbody>
            <thead>
            <tr width="100%">
                <!-- <th width="5%;">选择</th> -->
                <th width="8%">MZT信息</th>
                <th width="6%;">MZT类型</th>
                <th width="8%;">上线时间</th>
                <th width="8%;">下线时间</th>
                <!-- <th width="10%">时间段</th> -->
                <th width="10%">页面形式</th>
                <th width="6%">功能需求</th>
                <th width="8%">
                    <div class="tableXl tableXlStyleManage tableXlDrop2 popAdminSelect" drop-name="isDropSelect2">
                        营业部
                        <span></span>
                    </div>
                    <div class="tablexlChecked" ng-show="isDropSelect2">
                        <span ng-click="filter_virtual()">全部</span>
                                <span ng-repeat="item in sale_departments" ng-click="filter_virtual(item.id)">
                                    {{item.name}}
                                </span>
                    </div>
                </th>
                <!-- <th width="6%">部内对接人</th> -->
                <th width="6%;">MZT对接人</th>
                <th width="8%">操作</th>
            </tr>

            </thead>
            <tr pagination-id="paginate2"
                dir-paginate="vsp in virtualSpecial.list | itemsPerPage: virtualSpecial.pageNum"
                total-items="virtualSpecial.total" current-page="virtualSpecial.pageNo" ng-init="listIndex = $index">
                <!-- <td></td> -->
                <td>{{vsp.name}}</td>
                <td>{{vsp.special_type_name}}</td>
                <td>{{vsp.sale_time_from}}</td>
                <td>{{vsp.sale_time_to}}</td>
                <!-- <td></td> -->
                <td>{{vsp.page_type_name}}</td>
                <td>{{vsp.func_requirement}}</td>
                <td>{{vsp.sale_department_name}}</td>
                <td>{{vsp.docking_persion}}</td>
                <!-- <td></td> -->
                <td>
                    <div class="checkedEdite">
                        <a class="edictList edictList-blue" ng-if="!vsp.is_created"
                           href="/#/special/create?virtual_id={{vsp.id}}&special_type={{vsp.special_type}}">创建</a>
                        <span class="edictList" href="#" ng-if="vsp.is_created">已创建</span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</div>

<div class="popAdmin popShouye popup-normal" ng-show="editsData.showEditsBox" id="JmultiEdit" style="top:100px;">
    <div class="popAdminTitle">
        批量编辑
    </div>
    <div class="popAdminInput popAdminInputShouye">
        <label>
            <span>开始时间</span>
            <input ng-model="editsData.start_time" ui-time="global_start_time"
                   ui-time-time="{'hour' : '10','minute' : '0','second' : '0'}" ui-min-range="global_end_time"
                   ng-readonly="true" value="{{editsData.start_time}}">
            <!-- <div class="popAdminSelect"><div class="popXlicon"></div></div> -->
        </label>
        <label>
            <span>结束时间</span>
            <input ng-model="editsData.end_time" ui-time="global_end_time"
                   ui-time-time="{'hour' : '9','minute' : '59','second' : '59'}" ui-max-range="global_start_time"
                   ng-readonly="true" value="{{editsData.end_time}}">
            <!-- <div class="popAdminSelect"><div class="popXlicon"></div></div> -->
        </label>
        <label>
            <span>MZT位置</span>
            <input type="text" ng-model="editsData.position"/>
        </label>
    </div>
    <div class="popAddImg">
        <p>MZT档期图</p>

        <div class="uploadPhone">

            <div class="uploadPic">
                <input type="file" alias="phone_img" nv-file-select="" uploader="uploader"
                       ng-model="editsData.phone_img"/>
                <img ng-src="{{editsData.phone_img}}" ng-click="selectFile($event,'phone')"/></div>
            <div class="iPhonePic">iPhone图片</div>
        </div>
        <div class="uploadPad">
            <div class="uploadPic">
                <input type="file" alias="pad_img" nv-file-select="" uploader="uploader" ng-model="editsData.pad_img"/>
                <img ng-src="{{editsData.pad_img}}" ng-click="selectFile($event,'pad')"/>
            </div>
            <div class="PadPic">iPad图片
            </div>
        </div>
    </div>
    <div class="fcTitleShouye">
        <div class="fcTitle fcTitleSy">显示状态</div>
        <div class="fcRadio">
            <label class="lable-checked lable-checkedNewpageRadio">
                <input type="radio" name="display" ng-model="editsData.display" value="1"><span></span><b>显示</b></label>
            <label class="lable-checked lable-checkedNewpageRadio">
                <input type="radio" name="display" ng-model="editsData.display" value="0"><span></span><b>隐藏</b></label>
        </div>
    </div>
    <div class="popAdminBtn">
        <a class="popAdminBtn-Cancel" href="javascript:;" ng-click="hideEditsBox()">取消</a>
        <a class="popAdminBtn-OK" href="" ng-click="indexBatchEdit()">确定</a>
    </div>
    <a class="popAdminBtn-close" href="javascript:;" ng-click="hideEditsBox()"></a>
</div>

<div class="popup-mark" ng-show="editsData.showEditsBox" ng-click="hideEditsBox()"></div>

<dir-pagination-controls ng-show="tabInitIndex == 0" pagination-id="paginate1"
                         template-url="common/directive/angular-pager.html"
                         on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>

<dir-pagination-controls ng-show="tabInitIndex == 1" pagination-id="paginate2"
                         template-url="common/directive/angular-pager.html"
                         on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>

<div popup popup-content="确定要删除？" popup-open="popDelOpen" popup-save="delete"></div>

<div popup-img is-popup-show="isPopupShow" show-popup-img="showPopupImg"></div>