/*css 重置*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,figure {padding:0;margin:0;}
fieldset,img{border:0;}
input,button,textarea,select,optgroup,option {font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
ol,ul,li {list-style:none;}
table {border-collapse:collapse;border-spacing:0;}
caption,th {text-align:left;}

html,body,ul,b{margin: 0;padding:0;font:normal 14px "Microsoft YaHei";}
a{text-decoration: none; color: #4b4b4c}
li{list-style: none;}
table{background-color: #ffffff;}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{width: 15px; height: 15px;}
.wrapper{}
.header{position: relative;width: 1400px;height: 70px;border-bottom: 2px solid #1d1a1e;background: #322e33;margin: 0 auto;}
.logoWz{position: absolute;display: block;height: 70px;width: 200px;padding-left: 25px;background: url(../images/logo.png) no-repeat 25px 15px;}
.logoWz p{font-size: 20px;color: #ffffff;display: inline-block;vertical-align: middle;margin-left: 100px;line-height: 70px;}

.xsfw{position: absolute;width: 200px;height: 70px;display: block;left: 250px;}
.xsfw span{font-size: 14px;color: #99989a;line-height: 5;}
.xsfwXL{width: 97px;height: 26px;display: inline-block;vertical-align: middle;background: url(../images/icon01.png) no-repeat 97px 2px #7e787c;text-align: center;margin-left: 7px;padding-right: 24px;}
.xsfwXL img{padding-top: 2px;float: right;padding-right: 2px;}
.xsfwXL b{color: #ffffff;font:normal 14px/26px "Microsoft YaHei";}

.head_rt{float: right;width: 400px;height: 70px;color: #99989a;line-height: 70px; position: relative;}
.head_rt img{display: inline-block;vertical-align: middle;}
.head_rt span{display: inline-block;vertical-align: middle;}
.head_rt span strong{padding-right: 25px;}
.head_rt span b{padding: 0 25px;}
.head_rt span a{color: #99989a;text-decoration: none;}
.head_rt span .nameDL{padding: 0;text-decoration: underline;}

.content{position:relative;overflow:hidden;width: 1400px; min-height:790px;margin: 0 auto;background: #f8f5f7;}
.content::after{content:'';display:block;width:100%;height:0;clear:both;}
.content01{position:relative;width: 1350px;height:103px;margin: 0 auto;border-bottom: 2px solid #e6e4e6;}

.addZt{position: relative;width: 97px;height: 32px;background: #f67bb2;color: #ffffff;border-radius: 5px;text-align: center;line-height: 32px;text-decoration: none;float:left;overflow: hidden;top: 32px;}

.ptSearch{width: 220px;height: 30px;border-radius: 30px;background: #ffffff;display: block;float: right;margin-right: 146px;position: relative;top: 32px;}
.ptSearch input{outline: none;border: none;height: 25px;width: 168px;margin-left: 12px;margin-top: 2px;text-align: center;color: #d2d2d2;background: #ffffff;}
.ptSearch input::-webkit-input-placeholder{color:#cacaca;}
.ptSearch input:focus::-webkit-input-placeholder{opacity:0;}
.searchBtn{border-radius:0 30px 30px 0;background:url(../images/icon03.png) #60bae9 no-repeat center;width: 40px;height: 30px;position: absolute;right: 0;top: 0;}
.searchBtn img{padding: 7px 10px;}

.gjSearch{float: right;clear: both;position: relative;border-radius: 30px;right: 30px;background: #ffffff;width: 93px;height: 30px;text-align: center;text-decoration: none;line-height: 30px;color: #b8b8b8;}
.gjSearch:hover{border: 2px solid #5fbae9;color: #5fbae9;height: 26px;line-height: 26px;width: 89px;}

.content02{position: relative;width: 1350px;height: 70px;margin: 0 auto;}

.tabZT{position:absolute;clear: both;top: 25px;}
.tab{position: relative;border-radius: 5px 5px 0 0;width: 90px;height: 45px;background: #f0edf0;float: left;line-height: 45px;text-align: center;color: #9d9d9d;margin:0 2px 0 1px;}
.tab01{}
.tabSelected{background: #ffffff;color: #59c893;}

.ztfl{position: absolute;width: 222px;padding-right: 30px; height: 38px;background: #ffffff;border-radius: 5px;text-align: center;color: #60bae9;left: 705px;line-height: 38px;top: 22px;}
.ztfl  span{position: relative;width: 22px;height: 22px;display: inline-block;right: -15px;vertical-align: middle;}
.ztfl span img{display: block;margin: 7px 5px;}
.ztfl > span {background: url(../images/icon04.png) #60bae9 no-repeat center; float: right; right: 0; margin: 8px 8px 0 0; position: absolute; top:0; right: 0;}

.tabRightBtn{position: absolute;width: 390px;height: 33px;right: 0;top: 24px; text-align:right;}
.tabRight{position: relative; display:inline-block;width: 87px;height: 33px;border-radius: 5px;background: #60bae9;color: #ffffff;text-align: center;line-height: 33px;margin: 0 0 0 6px;}


.deleteZt{background: #ffffff;color: #f68089;}
.deleteZt:hover{background: #f5888e;color: #ffffff;}
.deleteZt:active{background: #f5888e;color: #ffffff;}

.content03{position: relative;width: 1350px;background: #ffffff;margin: 0 auto;clear: both;border-radius: 6px;}
.content03 ul{width: 1350px;}
.content03 li{height: 52px;text-align: left;line-height: 52px;}
.content03 li:nth-child(2n){background: #f0edf0;}


.summaryBox{position:relative;overflow:hidden;height:52px;padding-left:82px;color:#4b4b4b;}
.summaryBox-checkbox{display:none;}
.summaryBox-checkboxSkin{position:absolute;top:16px;left:34px;width:21px;height:21px;background:url(../images/checkbox.png) no-repeat center bottom;cursor:pointer;}
.summaryBox-pos{float:left;overflow:hidden;width:70px;height:52px;margin-right:18px;font:14px/52px "Microsoft YaHei";background:url(../images/icon06.png) right 21px no-repeat;}
.summaryBox-pos-wsx{background:url(../images/icon29.png) right 21px no-repeat;}/*未上线*/
.summaryBox-pos-yxx{background:url(../images/icon30.png) right 21px no-repeat;}/*已下线*/
.summaryBox-pos-cg{background:url(../images/icon31.png) right 21px no-repeat;}/*草稿*/

.summaryBox-classify{float:left;overflow:hidden;width:101px;height:20px;margin:16px 11px 12px 0;border:2px solid #e8e8e8;border-radius:11px;font:14px/20px Simsun;text-align:center;color:#a9a9a9;background:#ffffff;cursor: pointer;}
.summaryBox-name{float:left;overflow:hidden;margin-right:18px;font:14px/52px "Microsoft YaHei";vertical-align:middle;line-height: 54px;cursor: pointer;}
.summaryBox-toggle{position:absolute;top:18px;right:64px;width:20px;height:20px;border-radius:50%;background:#b5b5b5 url(../images/icon04.png) no-repeat center;}
.summaryBox-toggle-checked{position:absolute;top:18px;right:64px;width:20px;height:20px;border-radius:50%;background:#59c893 url(../images/icon04.png) no-repeat center;-webkit-transform:rotate(180deg);}

.lable-checkedselectedT{position: absolute;left: 38px;}

.content03 .summaryBox_new .summaryBox-name::after{content:'';display:inline-block;width:29px;height:10px;margin:0 8px;background:url(../images/icon09.png) no-repeat;}
.content03 .summaryBox_selected{color:#59c893;}
.content03 .summaryBox_selected .summaryBox-checkboxSkin{background-position:center top;}
.content03 .summaryBox_extend{height:auto;}

.detailBox{background:#ffffff;}
.detailBox table{color: #000000;border: 1px solid #f3f1f3;padding: 0;margin: 0;width: 1350px;height: 290px;text-align: center;}
.detailBox table th{border-bottom: 1px solid #f3f1f3;border-right: 1px solid #f3f1f3;height: 48px;text-align: center;}
.detailBox table tr{border-bottom: 1px solid #f3f1f3;}
.detailBox table td{border-right: 1px solid #f3f1f3;border-bottom: 1px solid #f3f1f3;word-break: break-all; line-height: 22px;}
.tableXl{background-color: #f5f5f5;height: 26px;display: block;overflow: hidden;line-height: 26px;margin: 0 5px;}
.tableXl span{width: 22px;height: 22px;background: url(../images/icon04.png) no-repeat center #b3aeb2;float: right;margin:2px 3px 0 0;}
.detailBox table th .timeBox{background: url(../images/icon10.png) no-repeat center;width: 16px;height: 16px;display: inline-block;vertical-align: middle;padding-left: 12px;}
.detailBox table td img{padding: 4px 5px;display: inline-block;vertical-align: middle;}
.detailBox table td .timeColor{color: #a0a0a0;}
.detailBox table .checkedEdite{position:relative;display:block;overflow:hidden;width: 148px;height: 36px;margin: 0 auto;}
.detailBox table .checkedEdite .edictList{position:relative;float:right;overflow: hidden;text-align: center;width: 48px;height: 31px;line-height: 31px;background: #59c893;border-radius: 3px;cursor: pointer;color: #000000;}
.detailBox table .checkedEdite .edictList-blue{background: #60BAE9;}
.checkedHide{position:relative;display: inline-block; overflow: hidden;background: url(../images/icon12.png) no-repeat left top;width: 81px;height: 32px;}
.checkedXshi{position:relative;display: inline-block;overflow: hidden;background: url(../images/icon13.png) no-repeat left top;width: 81px;height: 32px;}

.tablexlChecked{position:absolute;margin:0 5px;background: #ffffff;border: 1px solid #f7f5f6;width: 224px;z-index: 9;}
.tablexlChecked span{height: 28px;margin: 2px 5px;text-align: center;display: block;line-height: 28px;cursor: pointer;}
.tablexlChecked span:hover{background: #dfdfdf;}

.tablexlChecked_attribute{width: 204px;margin: -4px 76px 0;}
.attribute .tablexlChecked_attribute span{display: block;}

.tablexlChecked_BatchEdit{width: 301px;margin: 0 75px;}
.tablexlChecked_user{width: 150px;}

.popAdmin .popAdminInput .tablexlChecked_usernew{width: 140px;left: 80px;}
.popAdmin .popAdminInput .tablexlChecked_usernew span{width: 134px;margin: 3px 3px;text-align: center;cursor: pointer;}
.popAdminChecked .popPicCssStyleNameUser{margin: 25px 0 30px 0;width: 490px;}



/*
.content03 ul li input{display: none;}
.content03 ul li span{}
.content03 ul li span b{padding: 0 18px;color: #4b4b4b;vertical-align: middle;display: inline-block;}*/
.lable-checked{min-width: 80px;display: inline-block;vertical-align: middle;}
.lable-checked span{display:inline-block;width:21px;height:21px;background: url(../images/checkbox.png) no-repeat center bottom;vertical-align: middle;}
.lable-checked input{display: none;}
.lable-checked input:checked + span{background-position:center top;}
.content03 ul li span .checked{color: #59c893;}

.lable-checkedselected span{background: url(../images/checkbox.png) no-repeat center top;}

.content03 ul li span .dcBtn{background: #ffffff;width: 69px;height: 20px;color: #a9a9a9;line-height: 20px;text-align: center;border-radius: 24px;margin: 0 0 0 18px;border: 2px solid #e8e8e8;}
.content03 ul li span .newIcon{padding: 0;margin-top: -3px;}
.content03 ul li span .ztTitle{padding-right: 3px;}
.content03 ul .checkedList{height: auto;}

.content03 ul li .ztList{width: 1350px;height: 52px;}

.xiala{position: relative;width: 21px;height: 21px;border-radius: 50%;display: inline-block;vertical-align: middle;background: url(../images/icon04.png) no-repeat center center #b5b5b5;margin-left: 1265px;top: -52px;}


.content04{width: 1350px;height: 94px;margin: 0 auto;background: #ffffff;border-radius: 0 0 6px 6px;}
.content04 .fanye{text-align: center;}
.content04 .fanye p{display: inline-block;line-height: 94px;color: #8f8d8e;}
.content04 .fanye p span{color: #f67bb2;}
.content04 .fanye a{width: 26px;height: 26px;background: #d1d1d1;display: inline-block;vertical-align: middle;border-radius: 3px;line-height: 26px;color: #ffffff;margin: 0 4px;}
.content04 .fanye .syyBtn{width: 52px;height: 30px;background: url(../images/icon07.png) no-repeat;font-size: 12px;text-align: center;padding-left: 8px;}
.content04 .fanye .nextBtn{width: 52px;height: 30px;background: url(../images/icon08.png) no-repeat;font-size: 12px;text-align: center;padding-right: 8px;}
.content04 .fanye .checked{background-color: #8f8d8f;}

.content04 .fanye p input{outline: none;width: 29px;height: 24px;text-align: center;line-height: 26px;margin: 0 5px;}

.content04 .fanye .fanyeChecked{background: #f67bb2;}
.content04 .fanye .goNext{background: #f67bb2;}

.footer{position: relative;margin: 0 auto;width: 1400px;}
.footer p{text-align: center;line-height: 70px;font-size: 10px;color: #ababab;background: #f8f5f7;width: 1400px;margin: 0 auto;text-transform: uppercase;}

.xsfwXLnr{position: absolute;width: 119px;border: 1px solid #e8e8e8;background-color: #ffffff;padding-bottom: 5px;left: 67px;top: 49px;z-index: 9;}
.xsfwXLnr span{width: 87px;height: 30px;line-height: 30px;background-color: #ffffff;display: inline-block;vertical-align: middle;text-align: center;margin: 2px 4px;padding-right: 24px;}
.xsfwXLnr span:hover{background-color: #dfdfdf;}

.ztfl .ztflXL{position: absolute;width: 250px;border: 1px solid #f8f5f7;z-index: 99;background-color: #ffffff; left: 0; top: 38px}
.ztfl .ztflXL span{width: auto;height: auto;display: block; padding: 4px 0; margin: 3px 4px;text-align: center;line-height: 22px;background-color: #ffffff;right: 0;color: #858585; font-size: 12px; position: static;}
.ztfl .ztflXL span:hover{background-color: #82d1fb;color: #ffffff;}


/*系统设置样式*/

/*面包屑导航样式*/
.navZt{position: absolute;height: 30px;top: 43px;left: 0;}
.navZt02{display: block;overflow: hidden;left: 300px;}
.navZt a{height: 30px;margin-right: -11px;float:left;overflow: hidden;color: #ffffff;text-align: center;cursor: pointer;}
.navZt a:first-child{border-radius:5px 0 0 5px;}
.navZt a:first-child::before{content: '';display: none;}
.navZt a:first-child span{padding-left: 22px;}

.navZt a span{padding: 0 12px;font: 14px/30px "Microsoft YaHei";background: #d1d1d1;float: left;overflow: hidden;}

.navZt a::before{content: '';width: 14px;height: 30px;background: url(../images/nav_before01.png) no-repeat;float: left;overflow: hidden;}
.navZt a::after{content: '';width: 15px;height: 30px;background: url(../images/nav_after01.png) no-repeat;float: left;overflow: hidden;}

.navZt .navselectedAdd{}
.navZt .navselectedAdd span{background: #f67bb2;}
.navZt .navselectedAdd::before{content: '';width: 14px;height: 30px;background: url(../images/nav_before02.png) no-repeat;float: left;overflow: hidden;}
.navZt .navselectedAdd::after{content: '';width: 15px;height: 30px;background: url(../images/nav_after02.png) no-repeat;float: left;overflow: hidden;}


.deleteZtUser{position: absolute;border: 2px solid #e8e8e8;height: 31px;line-height: 31px;left: 105px;top: 31px;}

.content02Power,.content02User{height: 86px;}
.tableUser{width: 100%;height: auto;border-radius: 10px 10px 0 0;background: #ffffff;text-align: center;color: #4b4b4c;}
.tableUser th{height: 72px;text-align: center;border-right:1px solid #dfdcdf;}
.tableUser tr:first-child{border-bottom: 1px solid #dfdcdf;}
.tableUser tr:last-child{border-bottom: 1px solid #dfdcdf;}
.tableUser tr:nth-child(2n){background: #f0edf0;}
.tableUser .tablethZt01{width: 84px;}
.tableUser .tablethZt02{width: 174px;}
.tableUser .tablethZt03{width: 927px;}
.tableUser .tablethZt04{width: 162px;}

.tableUser td{border-right:1px solid #dfdcdf;height: 45px;}
.tableUser td:last-child,.tableUser th:last-child{border-right: none;}

.quanxian{width: 62px;height: 21px;line-height: 21px;background: #ffffff;text-align: center;color: #a9a9a9;margin: 0 10px;display: inline-block;vertical-align: middle;border-radius: 21px;border: 1px solid #e8e8e8;}
.quanxianSelected{color: #59c893;}
.nameSeleted,.departmentSeleted{color: #59c893;}

.shezhi{width: 66px;height: 31px;line-height: 31px;background: #59c893;text-align: center;color: #ffffff;display: inline-block;vertical-align: middle;border-radius: 3px;}

.navZt02 .navUser{margin-right: 0;}

.ptSearchUser{margin-right: 0;}
.manaUser{width: 97px;float: left;top: 32px;left: 200px;border: none;height: 33px;line-height: 33px;}

.popAdmin{position: absolute;width: 524px;min-height: 324px;top: 50%;left: 50%;margin-left: -262px;background: #ffffff;border-radius: 3px;box-shadow: 0px 0px 20px #d4d1d4;}
.popAdmin .popAdminTitle{position: relative;height:58px;margin: 0 auto;background: #60bae9;text-align: center;color: #ffffff;font: 22px/58px "Microsoft YaHei";border-radius: 3px 3px 0 0;}
.popAdmin .popAdminInput{position: relative;width: 236px;height: 194px;margin: 0 auto;text-align: center;}
.popAdmin .popAdminInput label{display: block;overflow: hidden;padding: 15px 0 0 0;}
.popAdmin .popAdminInput label span{color: #322e33;font: 14px/30px "Microsoft YaHei";float: left;overflow: hidden;width: 76px;text-align: left;}
.popAdmin .popAdminInput label input{background: #f0edf0;width: 135px;height: 30px;outline: none;border: none;padding-left: 7px;}
.popAdminSelect{position:relative;width: 142px;height:30px;margin: 0;display: inline-block;vertical-align: middle;background: #d9d1d7;line-height: 30px;color: #ffffff;}
.popAdminSelect .popXlicon{width: 22px;height: 22px;display: inline-block;vertical-align: middle;background: url(../images/icon23.png) #ffffff no-repeat center;margin: 4px 4px 0 0;float: right;}

.popAdminBtn{height: 74px;margin: 0 auto;background: #ffffff;text-align: center;clear: both;}
.popAdminBtn a{width: 120px;height: 35px;text-align: center;color: #ffffff;line-height: 35px;border-radius: 5px;display: inline-block;vertical-align: middle;}
.popAdminBtn .popAdminBtn-Cancel{background: #ffc18a;}
.popAdminBtn .popAdminBtn-OK{background: #59c893;}
.popAdminBtn-close{position:absolute;width: 19px;height: 18px;top: 21px;right: 25px;background: url(../images/pop_close.png) no-repeat center;}

.popPower{height: 428px;width: 584px;}

.popAdminChecked{position:relative;width: 490px;min-height: 238px;margin: 0 0 0 34px;}
.popAdminChecked .popAdminName{width: 490px;height: 58px;text-align: left;margin-left: -6px;color: #60bae9;font: 16px/58px "Microsoft YaHei";}

.popAdminChecked table{margin: 0 0 0 -8px;}
.popAdminChecked tr{height: 42px;}
.popAdminChecked .popAdminCheckedlable{height: 42px;display: inline-block;vertical-align: middle;}
.popAdminChecked label:first-child{width: 83px;}
.popAdminChecked .popAdminCheckedlable span{padding-right: 4px;}

.popShouye{height: auto;z-index: 99;}
.popShouye .popAdminInputShouye{height: 145px;}
.popShouye .fcTitleShouye{position:relative;width: 474px;margin: 0 auto;}
.popShouye .fcTitleShouye .fcTitleSy{margin-left: 82px;}



/*新增模板样式20150309*/
.content03-left{float:left;width: 270px;margin: 15px 0 0 25px;display:block;overflow: hidden;}
.templetZt{position: relative;width: 270px;margin: 0 auto 22px;padding-bottom: 15px;}

.templetZt-Leixing{background: #ffffff;}
.mubanLeixing{width: 270px;height: 50px;font: 16px/50px "Microsoft YaHei";color: #ffffff;background: #60bae9;text-align: center;}
.mubanLeixing span{position: absolute;width: 20px;height: 20px;background: url(../images/icon15.png) #ffffff no-repeat center;border-radius: 50%;right: 12px;top: 15px;}
.leixing,.zujian{width: 256px;margin: 30px 14px 0 0;display: block;overflow: hidden;}
.leixing a,.zujian a{width: 72px;height: 72px;font: 14px/72px "Microsoft YaHei";text-align: center;background: #f0edf0;color: #9f9f9f;margin: 0 0 13px 13px;float: left;overflow: hidden;}
.leixing .leixingSelected,.zujian .zujianSelected{background:url(../images/icon05.png) no-repeat 52px 53px; #ffffff;color: #59c893;border: 3px solid #59c893;width: 66px;height: 66px;}

.templetZt-Zujian{margin: 24px 0 0 0;padding-bottom: 0;}
.gnZujian{width: 270px;height: 50px;}
.gnZujian a{width: 135px;height: 50px;font: 16px/50px "Microsoft YaHei";float:left;overflow: hidden;background: #e7e5e7;color: #a3a3a3;text-align: center;border-radius: 8px 8px 0 0;}
.gnZujian .gnZujianSelected{background: #ffffff;color: #60bae9;text-align: center;}
.zujianBg,.zujianUp{width: 270px;display: block;overflow: hidden;background: #ffffff;margin: 0 auto;padding-bottom: 15px;}
.zujian{}
.zujian a{}
.zujianSelected{}

.content03-right{float:left;position: relative;width: 1662px;margin: 15px 0 0 17px;overflow: hidden;background: #ffffff;}
.templetZtmb{position: relative;width: 1662px;margin: 0 auto;overflow: auto;}
.templetZtmb-top{width: 936px;margin: 0 auto;text-align: left;margin-left: 128px;height: 78px;line-height: 78px;}
.templetZtmb-top a{padding: 0 18px;height: 33px;font: 14px/33px "Microsoft YaHei";color: #ffffff;text-align: center;background: #60bae9;border-radius: 5px;display: inline-block;vertical-align: middle;}
.templetZtmb-top .mbChecked{width: 148px;height: 35px;border-radius: 0;}

.dqmubanSelect{position: absolute;right: 125px;top: 25px;width: 267px;height: 29px;border: 1px solid #f8f5f7;font: 14px/29px "Microsoft YaHei";padding-left: 12px;color: #808080;}
.dqmubanSelect span{color: #000;}
.dqmubanSelect .dqmubanSelectXl{display:none;position:absolute;width: 22px;height: 23px;background: url(../images/icon04.png) no-repeat center #60bae9;padding: 0;border-radius: 0;margin: 0;right: 3px;top: 3px;}

.templetZtmb-content{width: 1064px;height: 646px;margin: 0 auto;background: #ffffff;}
.templetZtmb-contentiPhone{background: url(../images/mb_bgphone.png) no-repeat 100px center;}
.templetZtmb-neirongiPhone{position:absolute;width: 263px;height: 466px;top: 169px;left: 401px;}

.templetZtmb-contentiPad{background: url(../images/mb_bgpad.png) no-repeat 50px center;}
.templetZtmb-neirongiPad{position:absolute;width: 569px;height: 428px;top: 187px;left: 248px;}


.dqmubanSelectXla{position: absolute;width: 279px;border: 1px solid #f8f5f7;background: #ffffff;right: 125px;top: 55px;z-index: 9999;}
.dqmubanSelectXla p{font: 16px/46px "Microsoft YaHei";height: 46px;text-align: left;margin-left: 28px;color: #4b4b4b;}
.dqmubanSelectXla span{font: 14px/30px "Microsoft YaHei";color: #808080;width: 253px;height: 30px;margin: 0 auto;display: block;overflow: hidden;padding-left: 22px;cursor: pointer;}
.dqmubanSelectXla span:hover{background: #82d1fb;color: #ffffff;}
.dqmubanSelectXla span.on{background: #82d1fb;color: #ffffff;}


.popAdd{position: absolute;left: 50%;top: 110px;width: 494px;height: auto;margin-left: -95px;background: #ffffff;box-shadow: 0px 0px 20px #d4d1d4;border-radius: 3px;color: #535353;}
.popAdd .popAddTitle{position: relative;width: 494px;height:56px;margin: 0 auto;background: #60bae9;text-align: center;color: #ffffff;font: 22px/56px "Microsoft YaHei";border-radius: 3px 3px 0 0;}
.popAdd .popAddInput{position: relative;width: 430px;height: 224px;margin: 0 auto;border-radius: 0 0 3px 3px;padding:40px 0 0 64px;}
.popAdd .popAddInput label{display: block;overflow: hidden;padding: 0 0 18px 0;height: 35px;}
.popAdd .popAddInput label span{color: #322e33;font: 14px/30px "Microsoft YaHei";float: left;overflow: hidden;width: 76px;text-align: left;}
.popAdd .popAddInput label input{background: #f0edf0;width: 202px;height: 30px;outline: none;border: none;padding-left: 7px;float: left;overflow: hidden;margin: 3px 0 0 0;}
.popAdd .popAddInput a{position:absolute;padding: 0 22px;font: 16px/35px "Microsoft YaHei";color: #ffffff;border-radius: 6px;background: #59c893;display: inline-block;vertical-align: middle;right: 62px;}

/*新增模板样式150310*/
.zujianUp{}
.zujianUp label{position:relative;width: 246px;height: 37px;margin: 19px auto 0;border: 1px solid #f8f5f7;display: block;overflow: hidden;line-height: 37px;border-radius: 2px;}
.zujianUp label input{outline: none;border: none;height: 37px;line-height: 37px;width: 173px;padding-left: 10px;}
.zujianUp label a{position:absolute;font: 14px/35px "Microsoft YaHei";width: 60px;height: 35px;background: #60bae9;color: #ffffff;display: inline-block;vertical-align: middle;text-align: center;top: 1px;right: 1px;}
.zujianUp .zujianUpZip{position: relative;width: 254px;height: 190px;background:url(../images/icon18.png) no-repeat center #f8f5f7;margin: 12px auto 0;}
.zujianUp .zujianUpZip img{margin: auto}
.zujianUp .zujianUpZip p{position: relative;top: 126px;color: #000000;text-align: center;}
.zujianUp .zujianUpZip .zujianDeleted{position: absolute;width: 30px;height: 30px;border: 1px solid #f0eff0;background: url(../images/icon17.png) no-repeat center #ffffff;border-radius: 50%;top: 8px;left: 213px;}

.popAddPg{width: 474px;height: 388px;}
.popAddPg .popAddTitlePg{width: 474px;}
.popAddImg{position:relative;width: 474px;height: 226px;margin: 0 auto;}
.popAddImg p{margin-left: 82px;height: 57px;font: 16px/57px "Microsoft YaHei";color: #535353;}
.uploadPhone,.uploadPad{position:absolute;width: 129px;height: 168px;top: 57px;}
.uploadPhone{left: 82px;}
.iPhonePic,.PadPic{position:relative;width: 129px;height: 39px;margin: 0 auto;display: block;text-align: left;color: #797979;font: 16px/39px "Microsoft YaHei";}
.iPhonePic{padding-left: 8px;width: 121px;}
.iPhonePic a{position: absolute;width: 30px;height: 30px;display: inline-block;vertical-align: middle;background: url(../images/icon20.png) #59c893 no-repeat center;right: 0;top:5px;border-radius: 50%;cursor: pointer;}
.uploadPad{right: 77px;}
.PadPic{padding-left: 20px;width: 109px;}
.PadPic a{position: absolute;width: 29px;height: 29px;display: inline-block;vertical-align: middle;background: url(../images/icon17.png) #ffffff no-repeat center;right: 0;top:5px;border: 1px solid #f0eff0;border-radius: 50%;cursor: pointer;}

.uploadPic{position:relative;width: 125px;height: 125px;border: 2px solid #e5e5e5;border-radius: 3px;}
.uploadPic:empty{border:2px dashed #e5e5e5;background: url(../images/icon19.png) #f6f5f6 no-repeat center;}
.uploadPic img{width: 125px;height: 125px;}

.popAdminBtnPg{width: 474px;}
.popAdminBtnPg .popAdminBtn-CancelPg{left: 109px;top: 33px;}
.popAdminBtnPg .popAdminBtn-OKPg{left: 246px;top: 33px;}

.popAddFloor{width: 394px;height: auto;padding-bottom: 20px;}
.popAddFloor .popAddTitleFloor{width: 394px;}
.popAddFloorInput{position: relative;width: 394px;height: 105px;display: block;overflow: hidden;}
.popAddFloorInput label{position: relative;width: 357px;height: 37px;border: 2px solid #f8f5f7;margin: 32px auto;display: block;}
.popAddFloorInput label input{width: 296px;height: 37px;text-align: center;font: 16px/37px "Microsoft YaHei";color: #000000;border: none;outline: none;}
.popAddFloorInput label input::-webkit-input-placeholder{color:#9d9b9b;}
.popAddFloorInput label input:focus::-webkit-input-placeholder{opacity:0;}
.popAddFloorInput label a{position: absolute;width: 60px;height: 35px;top: 1px;right: 1px;font: 14px/35px "Microsoft YaHei";text-align: center;color: #ffffff;background: #60bae9;}
.popAddFloorImg{position: relative;width: 394px;}
.popAddFloorClick{width: 394px;text-align: center;height: 44px;line-height: 30px;color: #e9e9e9;}
.popAddFloorClick span{color: #838383;font-weight: bold;padding: 0 5px;}
.uploadPhoneFloor{left: 70px;width: 122px;height: 143px;top: 44px;}
.uploadPadFloor{right: 50px;width: 122px;height: 143px;top: 44px;}
.uploadPadFloor .uploadPicFloor{width: 99px;height: 99px;}
.uploadPicFloor:empty{width: 99px;height: 99px;}
.uploadPadFloor .uploadPicFloor img{width: 99px;height: 99px;}

.PhonePicFloor,.PadPicFloor{width: 120px;height: 30px;padding: 0;margin: 10px -5px;line-height: 30px;}
.PhonePicFloor{}
.PadPicFloor{padding-left: 6px;width: 114px;}
.PhonePicFloor a,.PadPicFloor a{top: 0;right: 0;}

.popAdminBtnFloor{width: 394px;}
.popAdminBtnFloor .popAdminBtn-CancelFloor{left: 69px;}
.popAdminBtnFloor .popAdminBtn-OKFloor{left: 206px;}

.popAddNewpage{width: 534px;height: auto;padding-bottom: 20px;}
.popAddNewpage .popAddTitleNewpage{width: 534px;}
.popAddNewpageChecked{position: relative;margin: 0 0 0 40px;width: 494px;height: auto;color: #535353;}
.popAddNewpageChecked p{text-align: left;padding: 30px 0 10px 0;}
.popAddNewpageCheckedfc{position: relative;width: 494px;display: block;height: auto;padding: 0 0 12px 0;}
.fcTitle{position: relative;width: 74px;text-align: left;float: left;overflow: hidden;line-height: 51px;}
.fcRadio{line-height: 45px;}
.fcRadio label{height: 20px;line-height: 20px;}
.fcRadio label input{margin: 0 0 0 3px;}
.fcRadio label span{padding: 0 0 0 5px;}

.fcChecked{margin: 0 0 0 74px;line-height: 45px;}

.lable-checkedNewpage{width: 56px;}
.lable-checkedNewpage b{padding-left: 3px;}

.lable-checkedNewpageRadio{width: auto;}
.lable-checkedNewpageRadio span{width: 16px;height: 16px;background: url(../images/radio.png) no-repeat center bottom;}
.lable-checkedNewpageRadio input:checked + span{background-position:center top;}

.popAdminBtnNewpage a{top: 12px;}

.popAdminBtnNewpagelast{width: 494px;border-radius: 0 0 3px 3px;}

.templetZtmb-contentUploadpic{position:relative;text-align: center;height: auto;width: 1064px;margin: 0 20px;background: #ffffff;}
.templetZtmb-neirongUploadpicPhone{}
.templetZtmb-neirongUploadpicPhone img{width: 512px;}
.templetZtmb-neirongUploadpicPad{}
.templetZtmb-neirongUploadpicPad img{width: 900px;}

.templetZtmb-neirongUploadTop{position: relative;margin: 40px auto 0;background: #f4f4f4;height: 56px;}
.templetZtmb-neirongUploadTop span{float: left;display: inline-block;vertical-align: middle;margin-left: 8px;color: #000000;font: 32px/56px "Microsoft YaHei";}
.templetZtmb-neirongUploadTop label{position: absolute;width: 392px;height: 41px;border: 2px dashed #d1d1d1;display: block;overflow: hidden;left: 60px;top: 5px;}
.templetZtmb-neirongUploadTop label input{outline: none;border: none;width: 388px;height: 37px;font: 30px/41px "Microsoft YaHei";text-align: center;background: inherit;}
.templetZtmb-neirongUploadTop label input::-webkit-input-placeholder{color:#000000;}
.templetZtmb-neirongUploadTop label input:focus::-webkit-input-placeholder{opacity:0;}

.templetZtmb-neirongUploadTopPhone{width: 512px;}
.templetZtmb-neirongUploadTopPad{width: 900px;}

.templetZtmb-neirongUploadTopPad label{left: 250px;}

.templetZtmb-contentUploadDrawTop{position: absolute;width: 450px;height: 80px;top: 100px;left: 290px;}
.templetZtmb-contentUploadDraw{position: absolute;z-index: 99;width: 450px;height: 80px;background: #328d8f;opacity: 0.7;border: 2px dashed #6ee5ac;}
.templetZtmb-contentUploadDraw.active{background: #72B456; opacity: 0.7}

.templetZtmb-contentUploadDrawicon{position: relative;}
.templetZtmb-contentUploadDrawicon a,.templetZtmb-contentUploadDrawRight a{position: absolute;z-index: 999;width: 34px;height: 34px;border-radius: 50%;border: 1px solid #f0eff0;top: -16px;opacity: 1;}
.templetZtmb-contentUploadDrawEdite{background: url(../images/icon22.png) #ffffff no-repeat center;right: 105px;}
.templetZtmb-contentUploadDrawDelete{background: url(../images/icon17.png) #ffffff no-repeat center;right: -17px;}

.templetZtmb-contentUploadPreviewHide{background: #d2d2d2 url(../images/icon_eye.png) no-repeat center;}
.templetZtmb-contentUploadPreviewHide.on{background: #59c893 url(../images/icon_eye.png) no-repeat center;}

.templetZtmb-contentUploadExportSnapshot{background: #ffffff url(../images/icon26.png) no-repeat center;right: 24px;}
.templetZtmb-contentUploadTime{background: #FFFFFF url(../images/icon33.png) no-repeat center; background-size: 24px;}


.templetZtmb-contentUploadDrawRight{position: absolute;right: 232px;top: 57px;width: 74px;height: auto;float: right;}
.templetZtmb-contentUploadDrawRightpad{right: 42px;}
.templetZtmb-contentUploadDrawRight .templetZtmb-contentUploadDrawEditeRight{background: url(../images/icon21.png) #59c893 no-repeat center;top: 0;}
.templetZtmb-contentUploadDrawRight .templetZtmb-contentUploadDrawDeleteRight{top: 44px;background: url(../images/icon17.png) no-repeat center;}
.templetZtmb-contentUploadDrawRight .templetZtmb-contentUploadDrawTranslateRight{top: 94px;background: url(../images/icon32.png) no-repeat center;}
.templetZtmb-contentUploadDrawRight .templetZtmb-contentUploadDrawSaveRight{background: url(../images/icon-baocun.png) #59c893 no-repeat center;top: 0;}
.templetZtmb-contentUploadDrawRight .templetZtmb-contentUploadDrawBatchEditRight{background: url(../images/icon-piliang.png) #59c893 no-repeat center;top: 0;}
/*MZT发布20150316*/
.plEdited{background: #60bae9;color: #ffffff;padding: 0 5px;}
.deleteZtFb{position: relative; display:inline-block;width: 87px;height: 33px;border-radius: 5px;background: #ffffff;color: #f68089;text-align: center;line-height: 33px;margin: 0 0 0 6px;left: 8px;}
.publishBtn{background: #59c893;color: #ffffff;left: 220px;}
.plYulan{float: right;}

.summaryBoxPublish{padding-left: 20px;height:64px;font: 16px/64px "Microsoft YaHei";}
.summaryBox_selectedPublish{background: none;height:64px;font: 16px/64px "Microsoft YaHei";}
.summaryBox-namePublish{height:64px;font: 16px/64px "Microsoft YaHei";}
.detailBox table .checkedEditePublish{width: 235px;height: auto;}
.detailBox table .checkedEdite .edictListPublish{height: 32px;font: 14px/32px "Microsoft YaHei";text-align: center;color: #ffffff;display: inline-block;vertical-align: middle;padding: 0 15px;border-radius: 3px;margin: 0 6px;}
.detailBox table .checkedEdite .edictListPublishsx{background: #59c893;}
.detailBox table .checkedEdite .edictListPublishxg{background: #60bae9;}

.content03Publish{padding-bottom: 68px;border-radius: 0 0 10px 10px;}

/*MZT预览样式20150316*/
.popAddPad{margin-left: 235px;}

.content_preview{margin-top: 14px;overflow: hidden;}
.content_preview_left{position: relative;float: left;width: 970px;height: auto;background: #ffffff;margin: 24px 0;border-right: 2px solid #ededed;}
.content_preview_left_top{position: relative;width: 970px;height:64px;}
.dqmubanSelect_preview{right: 464px;top: 3px;}
.preview_padpBtn{position: absolute;width: 148px;height: 35px;background: url(../images/icon16.png) no-repeat center;right: 267px;}

.content_preview_left_content{}
.templetZtmb-contentUploadpic_preview{width: 950px;}
.templetZtmb-neirongUploadTop_preview{margin: 0 auto;}

.content_preview_right{position: relative;width: 378px;float: left;height: auto;margin: 24px 0;}
.visitMible{position: relative;width: 376px;margin: 120px 0 0 2px;}
.visitMible p{color: #535352;font: 14px/45px "Microsoft YaHei";padding:0 0 0 15px;}
.erweima_preview{width: 265px;height: 265px;box-shadow: 0px 0px 10px #eeeeee;margin: 0 0 25px 58px;}
.lookLink_preview{position:relative;width: 337px;height: 37px;border: 2px solid #f8f5f7;display: block;overflow: hidden;margin: 0 0 0 14px;}
.lookLink_preview input{width: 266px;height: 37px;outline: none;border: none;padding: 0 0 0 10px;}
.lookLink_preview a{position:absolute;width: 60px;height: 35px;display: block;overflow: hidden;text-align: center;line-height: 35px;color: #ffffff;top: 1px;right: 1px;background: #60bae9;}

.lookLink_preview input::-webkit-input-placeholder{color:#9d9b9b;font-size: 12px;}
.lookLink_preview input:focus::-webkit-input-placeholder{opacity:0;}


/*MZT属性样式20150316*/
.content_attribute{margin: 14px auto 0;}
.attribute{width: 667px;margin: 0 auto;padding: 176px 0;}

.attribute label{display: block;overflow: hidden;margin: 0 0 14px 0;}
.attribute label b{width: 77px;float: left;height: 30px;line-height: 30px;text-align: left;overflow: hidden;}
.attribute label b::after{content: '*';color: #da534f;font: 14px/30px "Microsoft YaHei";}
.attribute label .location::after{display: none;}
.attribute label input{float: left;width: 289px;height: 30px;border: none;outline: none;background: #f0edf0;padding: 0 12px;}
.attribute label span{padding: 0 0 0 6px;color: #909090;display: inline-block;vertical-align: middle;}
.attribute label a{padding: 0 32px;text-align: center;font: 16px/35px "Microsoft YaHei";background: #59c893;display: inline-block;vertical-align: middle;border-radius: 5px;color: #ffffff;margin: 0 0 0 5px;}
.attribute .popAdminSelectAttribute{width: 204px;text-align: center;}

.popAdminBtn_attribute{margin-top:35px;}
.popAdminBtn_attribute .popAdminBtn-Cancel-attribute{left: 6px;}
.popAdminBtn_attribute .popAdminBtn-OK-attripute{left: 142px;}


/*批量编辑样式20150317*/
.content_BatchEdit{margin: 14px auto 0;}
.content_BatchEdit_top{position:relative;width: 1350px;height: 84px;margin: 0 auto;line-height: 84px;border-bottom: 2px solid #ededed;}
.content_BatchEdit_top h1{font: 16px/84px "Microsoft YaHei";margin: 0 0 0 34px;}
.content_BatchEdit_top a{position:absolute;display: block;overflow: hidden;border-radius: 5px;text-align: center;font: 16px/35px "Microsoft YaHei";color: #ffffff;padding: 0 42px;top: 25px;}
.content_BatchEdit_top .content_BatchEdit_top_btn01{background: #ffc18a;right: 182px;}
.content_BatchEdit_top .content_BatchEdit_top_btn02{background: #59c893;right: 45px;}

.content_BatchEdit_01{position: relative;width: 900px;height: 132px;padding: 64px 0 0 0;margin: 0 260px;}
.content_BatchEdit_01 label{float: left;margin: 0 68px 16px 0;width: 381px;height: 30px;line-height: 30px;}
.content_BatchEdit_01 label b{color: #535353;font: 14px/30px "Microsoft YaHei";margin: 0 15px 0 0;}
.content_BatchEdit_01 label input{width: 291px;height: 30px;font: 14px/30px "Microsoft YaHei";padding: 0 0 0 12px;border: none;outline: none;background: #f0edf0;}
.popAdminSelectBatchEdite{width: 303px;text-align: center;}

.content_BatchEdit_02{clear: both;overflow: hidden;width: 830px;margin: 0 auto;padding-bottom: 25px;}
.content_BatchEdit_02 b{margin: 0 11px 0 0;}
.content_BatchEdit_02 label{}
.content_BatchEdit_02 label b{padding: 0 0 0 5px;display: inline-block;vertical-align: middle;}

.content_BatchEdit_04{}
.xianshiChecked_b04{float: left;}
.inko_BatchEdit{border: 1px solid #ededed;float: left;margin-bottom: 8px;}
.inko_BatchEdit tr{border: 1px solid #ededed;}
.inko_BatchEdit tr th{border: 1px solid #ededed;height: 38px;font: 14px/38px "Microsoft YaHei";color: #535353;text-align: center;padding: 0 40px;font-weight: bold;}
.inko_BatchEdit tr td{position:relative;border: 1px solid #ededed;text-align: center;height: 79px;font: 14px "Microsoft YaHei";color: #535353;}
.inko_BatchEdit tr td .inko_BatchEdit_time_tdtime{position:absolute;width: 13px;height: 13px;background: url(../images/icon23.png) no-repeat center;display: block;overflow: hidden;right: 2px;top: 34px;}
.inko_BatchEdit .inko_BatchEdit_add{text-align: center;color: #ffffff;font: 28px/28px "Microsoft YaHei";background: #59c893;display: inline-block;vertical-align: middle;border-radius: 50%;width: 30px;height: 30px;}
.inko_BatchEdit tr .inko_BatchEdit_time{padding: 0 50px;}
.inko_BatchEdit tr .inko_BatchEdit_time_td{text-align: left;padding: 0 0 0 3px;}

.addDq_BatchEdit{position: relative;width: 723px;height: 33px;text-align: center;line-height: 35px;background: #f7f7f7;border: 2px solid #ededed;display: block;overflow: hidden;margin: 0 0 8px 67px;font: 16px/33px "Microsoft YaHei";color: #59c893;font-weight: bold;}
.addDq_BatchEditUppic{width: 732px;}

.content_BatchEdit_b05{float: left;padding: 6px 0;}
.content_BatchEdit_05lb{position: relative;width: 755px;margin-left: 95px;padding: 5px 0;}
.content_BatchEdit_05lb .content_BatchEdit_05lbTitle{width: 98px;display: inline-block;vertical-align: middle;text-align: right;padding: 0 10px 0 0;}

.popXlicon_time{color: #535353;}
.popAdminSelectBatchEdite .popXlicon_green,.popAdminInput .popXlicon_green,.popAdminSelect .popXlicon_green{background: url(../images/icon24.png) #ffffff no-repeat center;}


/*批量编辑-上传图片样式20150317*/
.inko_BatchEdit tr td img{padding: 3px;}

.inko_BatchEdit_close{position: absolute;width: 26px;height: 26px;border: 2px solid #ededed;border-radius: 50%;display: inline-block;vertical-align: middle;top: 3px;right: 3px;color: #f85977;font: 21px/23px "Arial";background: #ffffff;text-align: center;}
.inko_BatchEdit_rubbish{width: 26px;height: 26px;border: 2px solid #ededed;border-radius: 50%;display: inline-block;vertical-align: middle;background: url(../images/icon17.png) no-repeat center;}


/*品购组件新增修改部分样式20150325*/
.headerAdd{width: 2000px;}
.contentAdd{width: 2000px;}
.content01Add{width: 1950px;}
.footerAdd{width: 2000px;background: #f8f5f7;}

.popPic{width: 535px;}
.popPic .popAddTitlePic{width: 535px;}
.popPicchecked{position: relative;width: 493px;margin: 10px 21px;}
.popPicchecked div{display: inline-block;vertical-align: middle;text-align: center;width: 120px;height: 160px;overflow: hidden;}
.popPicchecked a{position:relative;float: left;overflow: hidden;margin: 10px;width: 94px;height: 94px;border: 3px solid #E5E5E5;}
.popPicchecked a.on{border: 3px solid #59c893;background: url(../images/icon25.png) no-repeat 76px 76px;}

.popPicFanye{width: 535px;display: inline-block;vertical-align: middle;line-height: 82px;text-align: center;}
.popPicFanye a,.popPicSyiyeAddStyle,.popPicNextAddStyle{width: 26px;height: 26px;font: 14px/26px "Microsoft YaHei";background: #d1d1d1;text-align: center;display: inline-block;vertical-align: middle;color: #ffffff;border-radius: 5px;margin: 0 4px;}
.popPicFanye .popPicSyiye,.popPicSyiyeAddStyle{width: 54px;height: 30px;background: url(../images/icon07.png) no-repeat center;text-align: right;padding-right: 6px;line-height: 30px;}
.popPicFanye .popPicfanyeChecked{background: #8f8d8f;}
.popPicFanye .popPicNext,.popPicNextAddStyle{width: 54px;height: 30px;background: url(../images/icon08.png) no-repeat center;text-align: left;padding-left: 6px;line-height: 30px;}

.popPiczjEdite{width: 494px;margin: 20px auto;text-align: center;}
.tablexlChecked_BatchEditPic{position: relative;margin: 0 126px;}

.popPiczjEdite label{display: inline-block;margin: 5px 0;}
.popPiczjEdite label b{margin-right: 5px;}
.popPicInput{width: 299px;margin-right: 2px;height: 28px;outline: none;}


.popAdminBtnNewpagePic{width: 494px;}
.templetZtmb-contentUploadDrawEditenew01{background: #ffffff url(../images/icon26.png) no-repeat center;right: 65px;}
.templetZtmb-contentUploadDrawEditenew02{background: #ffffff url(../images/icon27.png) no-repeat center;right: 24px;}

.popPicCssStyleName,.popPicCssStyleTextarea{width: 495px;margin: 10px 20px 0;}

.popAddNewStyle{width: 535px;}
.popAddFloorInputNewstyle{width: 495px;margin: 10px 0 10px 20px;height: 42px;}
.popAddFloorInputNewstyle b{float: left;overflow: hidden;line-height: 37px;}
.popAddFloorInputNewstyle .popAddFloorInputNewLabel{margin: 0 86px;}

.popPicCssStyleTextarea label textarea{width: 301px;height: 118px;resize:none;outline: none;border: none;background: #f0edf0;}
.popPicCssStyleTextarea b{display: inline-block;vertical-align: top;margin-left: 26px;}

.u-proRec{ }
.u-proRec .searchArea{ display: inline-block; position: relative; text-align: center; }
.u-proRec .searchArea ul{ position:absolute;left:0px;top:22px;width:100%;border:1px solid rgb(238,238,238);background:rgb(255,255,255); }
.u-proRec .searchArea ul li{ line-height: 22px }
.u-proRec .searchArea ul li:hover{ background: #eee; }


/*新增样式样式20150326*/
.addStyle_content01,.addStyle_content02,.addStyle_content03,.addStyle_content04,.addStyle_content05,.addStyle_content06{position: relative;width: 1170px;padding: 0 0 10px 180px;}

.addStyle_content01{padding: 45px 0 10px 180px;}
.addStyle_content01_left{width: 602px;float: left;overflow: hidden;}
.addStyle_content01_left label{display: block;overflow: hidden;margin: 0 0 10px 0;}
.addStyle_content01_left label b{margin-right: 6px;}
.addStyle_content01_left label b::after{content: '*';color: #da534f;}
.addStyle_content01_left label input{width: 390px;height: 30px;padding-left: 10px;line-height: 30px;background: #f0edf0;border: none;outline: none;}
.popXlicon_addStyle{color: #ffffff;width: 400px;}
.popXlicon_addStyle .popXlicon_red{background: #ffffff url(../images/icon14.png) no-repeat center;}


.addStyle_content01_right{position:relative;width: 320px;display: block;overflow: hidden;}
.addStyle_content01_right b{float: left;overflow: hidden;}
.yulanPic{width: 187px;height: 77px;background: #f6f5f6 url(../images/icon19.png) no-repeat center;border: 2px dashed #e5e5e5;margin-left: 75px;border-radius: 3px;}

.addStyleBtn{position: absolute;width: 30px;height: 30px;border-radius: 50%;display: inline-block;vertical-align: middle;text-align: center;font: 28px/30px "Microsoft YaHei";background: #59c893 url(../images/icon20.png) no-repeat center;color: #ffffff;top: 0;left: 270px;}


.addStyle_content02{}
.addStyle_content02 .lable-checkedNewpageRadioAddStyle{min-width: 50px;}

.addStyle_content03{clear: both;overflow: hidden;}
.addStyle_content03 label{float: left;overflow: hidden;margin: 0 67px 0 0;}
.addStyle_content03 label b{display:block;overflow: hidden;color: #322e33;font: 14px/26px "Microsoft YaHei";}
.addStyle_content03 textarea{width: 275px;height: 155px;border: none;outline: none;resize:none;background: #f0edf0;padding: 5px;}

.addStyle_content04{}
.popAddFloorInputNewstyleAdd{width:1170px;height: 60px;clear: both;padding-top: 20px;}
.popAddFloorInputNewstyleAdd b{float: left;line-height: 35px;}
.popAddFloorInputNewstyleAdd label{margin: 0 80px;}

.addStyle_content05{}
.addStyle_content05 table{}
.addStyle_content05 tr,.addStyle_content05 th,.addStyle_content05 td{border: 1px solid #d6d4d6;}


.addStyle_content05 th{color: #4b4b4b;font: 14px/68px "Microsoft YaHei";padding: 0 25px;text-align: center;}
.addStyle_content05 td{text-align: center;font: 14px/42px "Microsoft YaHei";padding: 0 20px;}
.addStyle_content05 td img{display: inline-block;vertical-align: middle;}
.addStyle_content05 td a{top: 1px;left: 0;margin: 0 auto;width: auto;height: auto;padding: 0 20px;line-height: 30px;}


.addStyle_content06{text-align: left;padding: 10px 0 10px 180px;}
.tiaozhuanK{width: 27px;height: 22px;font: 14px/22px "Microsoft YaHei";text-align: center;color: #8f8d8f;border-radius: 3px;border: 2px solid #e7e4e7;outline: none;margin: 0 3px;}


.addStyle_content07{text-align: center;padding: 20px 0 50px 0;}
.addStyle_content07 a{border-radius: 5px;font: 16px/35px "Microsoft YaHei";padding: 0 42px;text-align: center;color: #ffffff;display: inline-block;margin: 0  14px;}
.addStyle_content07 .btn01_addStyle{background: #ffc18a;}
.addStyle_content07 .btn02_addStyle{background: #59c893;}


/*样式管理样式20150326*/
.addZtStyleManage{float: right;background: #60bae9;right: 105px;}
.deleteZtStyleManage{right: 0;left: inherit;}
.ptSearchStyleManage{margin: 1px 140px 0 0;}

.tableXlStyleManage{display: inline-block;vertical-align: middle;width: 155px;height: 26px;color: #6e6c6e;margin: 40px 0 0 0;background: #f0edf0;padding: 0 0 0 15px;}
.tablexlChecked_usernewStyle{width: 168px;left: -5px;}
.tablexlChecked_usernewStyle02{left: 168px;}

.lable-checked-StyleManage span{margin-right: 5px;}

.tableUser td img{display: inline-block;vertical-align: middle;}

/*新增品购弹窗样式0326*/
.popAddpicEdite,.popAddpicEdite .popAddpicEditeTitle{width: 534px;}
.popAddpicEditeInput{width: 188px;padding-left: 6px;}
.popAddpicEditeInputUrl{border: none;background: #f0edf0;}

/*翻页不可点击状态*/
.backBtnClick{background: url(../images/icon08_02.png) no-repeat center!important;}/*上一页可点击状态*/
.nextBtnClick{background: url(../images/icon07_02.png) no-repeat center!important;}/*下一页不可点击状态*/




/*petry 20150317*/
input[type=file] {display: none;}
.lable-checked {margin-right: 10px;}



.content_BatchEdit_01 .colspan-2 {float: left;margin: 0 68px 16px 0;width: 381px;height: 30px;line-height: 30px;}
.content_BatchEdit_01 .colspan-2 label {width: auto; min-width: 0; float: none; margin-right: 10px;}
.content_BatchEdit_01 .colspan-2 b{color: #535353;font: 14px/30px "Microsoft YaHei";margin: 0 15px 0 0;}
.content_BatchEdit_01 .colspan-2 input{width: 291px;height: 30px;font: 14px/30px "Microsoft YaHei";padding: 0 0 0 12px;border: none;outline: none;background: #f0edf0;}

.ac-img { position: relative;}
.ac-img .inko_BatchEdit_add {display: none; position: absolute; left: 50%; top: 50%; margin: -15px 0 0 -15px;}
.ac-img:hover .inko_BatchEdit_add {display: block;}

.ac-date {position: relative;}
.ac-date input {height: 25px; background: none; border: none; outline: none;}
.inko_BatchEdit .ac-date .inko_BatchEdit_time_tdtime {top:6px;}

/*petry 一键上传id相关样式*/
input[type=file] {display: none;}
.pop-upload {padding: 50px 20px; overflow: hidden;}
.pop-upload .text {width: 420px; height: 30px; line-height: 30px; padding-left: 10px; border: none; background-color: #f0edf0; float: left;}

.select-btn { height: 30px; line-height: 30px; padding: 0 10px; border: none; background: none #59c893; float: left; color: #fff;}

/*iPad/iPhone checked样式0401*/
.mbChecked{margin: 0 12px 0 0;vertical-align: middle;}
.mbChecked span{display:inline-block;width:148px;height:35px;background: url(images/icon16_01.png) no-repeat center top;vertical-align: middle;}
.mbChecked input{display: none;}
.mbChecked input:checked + span{background: url(images/icon16_01.png) no-repeat center bottom;}


/*品购组件新增样式0401*/
.mbChecked{margin: 0 12px 0 0;}
.mbChecked span{display:inline-block;width:148px;height:35px;background: url(../images/icon16_01.png) no-repeat center top;vertical-align: middle;}
.mbChecked input{display: none;}
.mbChecked input:checked + span{background: url(../images/icon16_01.png) no-repeat center bottom;}


/*高级搜索-筛选+头部系统管理下拉 样式0402*/
.tableXlnew{position: relative;top: 40px;width: auto;z-index: 9;float: left;margin-right: 29px;}
.tableXlnew:first-child{margin-left: 29px;}
.tableXlnew:last-child{margin-right: 0;}
.tableXlnew b{display: inline-block;vertical-align: top;}
.tableXlnewlist{position: relative;width: 252px;height: auto;display: inline-block;}
.tableXlTitle{height: 26px;background: #dfdade;font: 14px/26px "Microsoft YaHei";display: block;overflow: hidden;text-align: center;}
.tableXlTitle span{width: 22px;height: 22px;float:right;overflow: hidden;background: #ffffff url(../images/icon24.png) no-repeat center;margin: 2px;cursor: pointer;}
.tableXlnewContent{position: absolute;width: 100%;margin: 0 auto;background: #ffffff;padding: 3px 0;top: 26px;left: 0;}
.tableXlnewContent span{display: block;text-align: center;font: 14px/26px "Microsoft YaHei";width: 98%;margin: 1% 1%;cursor: pointer;}
.tableXlnewContent span:first-child{margin-top: 0;}
.tableXlnewContent span:hover{background: #eaeaea;}

.tableXlnewlist02{width: 172px;}

.tableXlnewlist03{width: 262px;}

.tableXlTitleTime span{background: #ffffff url(../images/icon23.png) no-repeat center;}

.head_rt span strong::after{content: '﹀';color: #848284;font: 16px/18px "Arial";padding-left: 8px;font-weight: bold;display: inline-block;vertical-align: -5px;cursor: pointer;}

.head_rtXl{position: absolute;width: 143px;max-height: 134px;border-radius: 5px;z-index: 99;top: 57px;left: 0;background: #ffffff;padding: 8px 0; overflow-x: hidden; overflow-y: scroll;}
.head_rtXl b{width: 115px;margin: 2px 7px;font: 14px/26px "Microsoft YaHei";display: block;overflow: hidden;text-align: left;cursor: pointer;padding: 0 0 0 14px;font-weight: normal;}
.head_rtXl b:hover{background: #eaeaea;}


.hide{display: none;}

/*高级搜索样式0402*/
.content_searchAd{text-align: center;padding-bottom: 40px;margin-bottom: 10px;}
.searchBtnad{font: 14px/35px "Microsoft YaHei";color: #ffffff;text-align: center;padding: 0 64px;background: #60bae9;margin: 45px auto 0;display: inline-block;vertical-align: middle;border-radius: 5px;}

.tablexlChecked_SearchAd{margin: 0 75px;}

.content_BatchEdit_01_search{margin: 0 20px;width: 1055px;}


.tablexlChecked {max-height: 180px; overflow-x: hidden; overflow-y: auto;}
.tableUser td img {margin: 5px 0;}
.tablexlChecked_BatchEditPicAddStyle{position: absolute;width: 398px;margin-left: 86px;}
.addStyle_content05 td {-ms-word-break: break-all;word-break: break-all;}
.addStyle_content05 td img {margin: 5px 0;}
.popAdminSelect .popXlicon {position: absolute; right: 0; top: 0}

.clear {clear: both;}

.loading-content {position: fixed; z-index: 999; width: 100%; height: 100%; text-align: center; left: 0; top: 0; vertical-align: middle; display: table;/* background: rgba(0,0,0,0.5);*/}
.loading-cell{display: table-cell;vertical-align: middle;}
.loading-wrap {display: inline-block; padding: 20px; background: rgba(0,0,0,0.8); border-radius: 10%;}


/*20150415样式*/
.BtnTabphonepad{display: inline-block;vertical-align: middle;line-height: 35px;background: #d8d8d8;border-radius: 3px;box-shadow: 2px 2px 3px #c5c5c5 inset;margin: 0 16px 0 0;}
.BtnTabphonepad span{width:74px;display: inline-block;font: 14px/31px "Microsoft YaHei";color: #ffffff;margin: 0 2px;text-align: center;cursor: pointer;}
.BtnTabphonepad-checked{background: #ffffff;color: #59c893!important;border-radius: 2px;}

.BtnTabphonepad-preview{margin-left: 575px;}

/*petry 20150420*/
.popup-normal {margin-left: -262px; top: 110px; z-index: 99}
.popup-normal .popup-text {font: 16px/100px Microsoft Yahei; text-align: center;}
.popup-mark {width: 100%; height: 100%; position: fixed; left: 0; top: 0; background-color: rgba(0,0,0,0.5); z-index: 98}

/*20150421样式*/
.xianshiTitle{float: left;overflow: hidden;padding-top: 5px;}
.ptxianshiChecked{display: block;overflow: hidden;padding: 0 0 0 12px;}
.ptxianshiChecked label{line-height: 2;}
.green {color: #59c893}

/* 20150805 */
.rocket{position:fixed;right:25px;bottom:25px;display:none;width:26px;height:62px;background:url(../images/rocket.png) no-repeat 0 0;}
.rocket:hover{background:url(../images/rocket.png) no-repeat 0 -62px;}

/* 20150817 */
.swithBtnOpen, .swithBtnClose {overflow: hidden;width: 81px;height: 36px; display: inline-block; cursor: pointer;}
.swithBtnClose {background: url(../images/icon50.png) no-repeat left center;}
.swithBtnOpen {background: url(../images/icon51.png) no-repeat left center;}

.summaryBox .swithBtnOpen,.summaryBox .swithBtnClose {margin: 12px 100px 0 0; float: right;}
.templetZtmb-top .swithBtnOpen,.templetZtmb-top .swithBtnClose {position: relative; top: 16px;}

.input-gray {height: 30px; padding-left: 10px; background: #f0edf0; border: none; font: 14px/30px Microsoft Yahei;}

/* 20150908 */

@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-lock:before { content: "\e6c0"; }
.icon-unlock:before { content: "\e6c2"; }

/* 20150910 */
.templetZtmb-contentUploadDrawRight .temp-save-btn-wrap {float: left; position: relative;}
.templetZtmb-contentUploadDrawRight .temp-save-btn-wrap em {width: 16px; height: 16px; position: absolute; right: 0; top: -5px; border-radius: 8px; background-color: #c00; color: #fff; text-align: center; line-height: 14px; cursor: pointer; z-index: 10; font-style: normal;}

/* 20150914 */
.module .fix-top {position: fixed; top: 10px;}

/* 20151027 */
/*page_edit.html*/
.template-list {width: 300px; border: 1px solid #f8f5f7; float: right;line-height: 22px; margin-right: 20px;}
.template-list-current {padding: 4px 5px;}
.template-list .on,.template-list .page-content ul li.on {background-color: #82d1fb; color: #fff;}

.page-parent-title{text-align: center; line-height: 38px; cursor: pointer; font-size: 20px; }
.page-parent-content {margin-bottom: 10px; }
.page-rule-title {text-align: center; padding: 0 10px; background: #f1f1f1; border-bottom: 1px solid #ccc; font-weight: bold; line-height: 30px; position: relative;}
.page-rule-title .iconfont { position: absolute; right: 10px; font-weight: normal;}
.page-content ul li {line-height: 20px; padding: 4px 10px; cursor: pointer; }
.page-content ul li:nth-child(2n){background-color: #f0edf0;}


/* 20151130 */
/* 公告栏 */
.header .noticeboard{padding: 0 7px;width: 16px;height: 72px;color: #333;position: absolute;right: 0;background-color: #a9a9a9;}
.header .noticeboard .title{line-height: 19px;margin-top: 7px;cursor: pointer;}
.header .noticeboard .main{z-index: 2;position: absolute;right: 0;top: 88px;}
.header .noticeboard .narrow_bottom{width: 0;height: 0;border-left: 15px solid transparent;border-right: 15px solid transparent;border-top: 10px solid #a9a9a9;float: right;margin-top: -16px;}
.header .noticeboard .cont{border: 4px solid #a9a9a9;width: 360px;background-color: #fff;padding: 15px 10px;}
.header .noticeboard .cont .item{width: 320px;border-bottom: 2px solid #767676;margin-bottom: 10px;}
.header .noticeboard .cont li{font-size: 14px;line-height: 1.6;width: 320px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.header .noticeboard .cont h2{font-size: 18px;line-height: 2;}
.header .noticeboard .more{font-size: 14px;line-height: 2;font-weight: bold;color: #0335fe;text-decoration: underline;}
.header .noticeboard .red{position: absolute;top: 3px;right: 3px;border-radius: 50%;width: 8px;height: 8px;background-color: red;}
.btn-blue {line-height: 30px; display: inline-block; background-color: #60bae9; color: #fff; text-align: center; padding: 0 10px; border-radius: 5px;}

/* 首页虚拟MZT */
.virtual-special table{border: 1px solid #f3f1f3;}
.virtual-special thead{background: #F0EDF0;}
.virtual-special table td{padding:5px 0; vertical-align: middle;}

