<div class="module-edit clearfix">
	<!-- module start -->
	<div class="module">
		<div ng-repeat="item in list1" ng-class-odd="'module-item'" ng-class-even="'module-item module-item-special'" data-drag="{{list1[$index].drag}}" data-jqyoui-draggable="{animate:true, onDrag:'drag(item, item)', index:100, onStart:'start', onStop:'stop'}" data-jqyoui-options="{revert: true}">{{item.name}}</div>
	</div>
	<!-- module end -->
	<!-- preview start -->
	<div class="preview" ng-class="{'preview-on': previewOn}" data-drop="true" data-jqyoui-droppable="{index: 11, onDrop:'drop', onOut :'out', onOver :'over'}" data-jqyoui-options="">
		<div ng-repeat="item in list2"></div>
	</div>
	<!-- preview end -->
	<!-- setting start -->
	<div class="setting">
		<div ng-show="curModule">
			<h2>基础属性</h2>
			<div ng-repeat="item in curModule.editable">
				<label for="">{{item.label}}</label>
				<input type="{{item.type}}">
			</div>
			<h2>样式</h2>
			<div>
				<label for="">JS</label>
				<input type="text" value="{{curModule.js}}">
			</div>
			<div>
				<label for="">CSS</label>
				<input type="text" value="{{curModule.css}}">
			</div>
			<div>
				<label for="">模板</label>
				<input type="text" value="{{curModule.template}}">
			</div>
		</div>
	</div>
	<!-- setting end -->
</div>


<script>
</script>
<style>
</style>
<div class="moban">
	{{content}}
</div>


<!-- module1 -->
<script>
</script>
<style>
</style>
<div class="module">
	{{item in list}}
</div>

<!-- module2 -->
<script>
</script>
<style>
</style>
<div class="module">
	<img src="{{src}}" alt="">
</div>
