<style type="text/css">
    .popAdmin { position: relative; top: 0; margin-top: 50px; margin-bottom: 50px;}
    .popAdmin .popAdminInput {text-align: left; width: 400px; height: auto; padding-bottom: 20px;}
    .popAdmin .popAdminInput .popAdminSelect { text-align: center;}
    .popAdmin .popAdminInput .checks {padding-top: 15px;}
    .popAdmin .popAdminInput .checks p {color: #322e33; font: 14px/30px "Microsoft YaHei"; float: left; overflow: hidden; width: 76px; text-align: left;}
    .popAdmin .popAdminInput .checks label {float: none; display: inline-block; padding: 5px 0 0;}
    .popAdmin .popAdminInput .checks label span{width: 21px; float: none; display: inline-block;}
</style>

<div class="popAdmin" style="display:block;">
    <div class="popAdminTitle">
        {{user.id ? '编辑' : '新增'}}用户
    </div>
    <div class="popAdminInput">
        <label>
            <span>操作人员</span>
            <input type="text" ng-model="user.username">
        </label>

        <!-- <label>
            <span>所属部门</span>
            <div class="popAdminSelect" ng-click="isDropDepart = true; $event.stopPropagation()">
                {{curDepart.name}}
                <div class="popXlicon popXlicon_green"></div>
            </div>
            <div class="tablexlChecked tablexlChecked_user tablexlChecked_usernew" ng-show="isDropDepart">
                <span ng-repeat="depart in departs" ng-click="setSelectValue('curDepart',depart)">{{depart.name}}</span>
            </div>
        </label> -->

        <label>
            <span>角色名</span>
            <div class="popAdminSelect" ng-click="isDropRole = true; $event.stopPropagation()">
                {{curRole.name}}
                <div class="popXlicon popXlicon_green"></div>
            </div>
            <div class="tablexlChecked tablexlChecked_user tablexlChecked_usernew" ng-show="isDropRole">
                <span ng-repeat="role in roles" ng-click="setSelectValue('curRole',role)">{{role.name}}</span>
            </div>
        </label>
        <div class="checks">
            <p>设备分类</p>

            <label class="lable-checked">
                <input type="checkbox" name="client" check-all>
                <span></span> 全选
            </label><label class="lable-checked" ng-repeat="client in clients">
                <input type="checkbox" name="client" value="{{client.id}}" ng-model="client.check" ng-click="check($event)">
                <span></span> {{client.name}}
            </label>
        </div>
    </div>

    <div class="popAdminBtn">
        <a class="popAdminBtn-Cancel popAdminBtn-Cancel-attribute" href="#/user/list">取消</a>
        <a class="popAdminBtn-OK popAdminBtn-OK-attripute" href="javascript:;" ng-click="postData()">确定</a>
    </div>
    <!-- <a class="popAdminBtn-close" href="javascript:;"></a> -->
</div>
