<style type="text/css">
    .popAdmin .popAdminInput {text-align: left; width: 400px; height: auto; padding-bottom: 20px;}
    .popAdmin .popAdminInput .popAdminSelect { text-align: center;}
    .popAdmin .popAdminInput .checks {padding-top: 15px;}
    .popAdmin .popAdminInput .tablexlChecked_usernew {left: 71px}
    .popAdmin .popAdminInput .checks p {color: #322e33; font: 14px/30px "Microsoft YaHei"; float: left; overflow: hidden; width: 76px; text-align: left;}
    .popAdmin .popAdminInput .checks label {float: none; display: inline-block; padding: 5px 0 0;}
    .popAdmin .popAdminInput .checks label span{width: 21px; float: none; display: inline-block;}
    .popAdmin .popAdminInput .wrap-checkbox{padding-left: 76px;}
</style>

<!-- 用户管理start -->
<div class="content01" crumb="userList"></div>
<div class="content02 content02User">
    <a class="addZt plEdited" ng-click="showPopup()">新增</a>
    <a class="tabRight deleteZtUser deleteZtFb" href="" ng-click="preDelete()" >删 除</a>
    <a class="tabRight deleteZtUser manaUser publishBtn" href="#/role/list">角色管理</a>
    <label class="ptSearch ptSearchUser">
        <input type="text" placeholder="请输入关键字搜索" ng-model="filtText" ng-keyup="searchKeyUp($event,this,'pageChanged')"/>
        <a class="searchBtn" ng-click="pageChanged(1, true)"></a>
    </label>
</div>
<div class="content03">
    <table class="tableUser">
        <tbody>
            <tr>
                <th class="tablethZt01">
                    <label class="lable-checked">
                        <input name="check" type="checkbox" check-all /><span></span></label>
                </th>
                <th class="tablethZt02">用户名</th>
                <th class="tablethZt03">APP分类</th>
                <th class="tablethZt03">角色名</th>
            </tr>
            <tr ng-show="users.list.length == 0 && !loading">
                <td colspan="4">没有相应的搜索数据，请换个关键字试试！</td>
            </tr>
            <tr dir-paginate="user in users.list | itemsPerPage: 10" total-items="users.total" current-page="users.pageNo">
                <td>
                    <label class="lable-checked">
                        <input name="check" type="checkbox" ng-model="user.check" value="{{user.id}}" ng-click="check($event)">
                        <span></span>
                    </label>
                </td>
                <td><a href="" ng-click="showPopup(user.id)" class="green">{{user.username}}</a></td>
                <td>{{user.clientName}}</td>
                <td>{{user.role_name}}</td>
            </tr>
        </tbody>
    </table>
</div>


<dir-pagination-controls template-url="common/directive/angular-pager.html" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>

<div popup popup-open="popDelOpen" popup-content="确定要删除这些数据吗？" popup-save="delete"></div>

<div popup popup-open="popupOpen" popup-template="'modifyForm.html'" popup-data="user"></div>

<script type="text/ng-template" id="modifyForm.html">
<div class="popAdmin popup-normal" ng-show="popupOpen" ng-if="template">
    <div class="popAdminTitle">
        {{data.id ? '编辑' : '新增'}}用户
    </div>
    <div class="popAdminInput">
        <label>
            <span>用户账号</span>
            <input type="text" ng-model="data.username" placeholder="请输入OA账号">
        </label>

        <div class="checks">
            <p>角色名</p>
            <div class="wrap-checkbox">
                <label class="lable-checked">
                    <input type="checkbox" name="role" check-all>
                    <span></span>
                    全选
                </label>
                <label class="lable-checked" ng-repeat="role in data.roles">
                    <input type="checkbox" name="role" value="{{role.id}}" ng-model="role.check" ng-click="data.check($event)">
                    <span></span>
                    {{role.name}}
                </label>
            </div>
        </div>

    </div>

    <div class="popAdminBtn">
        <a class="popAdminBtn-Cancel popAdminBtn-Cancel-attribute" ng-click="cancle()">取消</a>
        <a class="popAdminBtn-OK popAdminBtn-OK-attripute" href="" ng-click="data.postData()">确定</a>
    </div>
    <a class="popAdminBtn-close" href="" ng-click="cancle()"></a>
</div>
</script>
