<!-- 用户管理start -->
<div class="content01" crumb="clientList"></div>
<div class="content02 content02User">
    <a class="addZt plEdited" ng-click="showPopup()">新增</a>
    <a class="tabRight deleteZtUser deleteZtFb" href="" ng-click="preDelete()">删 除</a>
    <label class="ptSearch ptSearchUser">
        <input type="text" placeholder="请输入关键字搜索" ng-model="filtText" ng-keyup="searchKeyUp($event,this,'pageChanged')"/>
        <a class="searchBtn" ng-click="pageChanged(1)"></a>
    </label>
</div>
<div class="content03">
    <table class="tableUser">
        <tbody>
            <tr>
                <th class="tablethZt01">
                    <label class="lable-checked">
                        <input name="check" type="checkbox" check-all /><span></span></label>
                </th>
                <th>名称</th>
                <th>版本号</th>
                <th>客户端</th>
                <th>平台</th>
            </tr>
            <tr ng-show="versions.list.length == 0 && !loading">
                <td colspan="5">没有相应的搜索数据，请换个关键字试试！</td>
            </tr>
            <tr dir-paginate="version in versions.list | itemsPerPage: 10" total-items="versions.total">
                <td>
                    <label class="lable-checked">
                        <input name="check" type="checkbox" ng-model="version.check" value="{{version.id}}" ng-click="check($event)">
                        <span></span>
                    </label>
                </td>
                <td><a href="" ng-click="showPopup(version.id)" class="green">{{version.name}}</a></td>
                <td>{{version.number}}</td>
                <td>{{version.client_name}}</td>
                <td>{{version.platformName}}</td>
            </tr>
        </tbody>
    </table>
</div>


<dir-pagination-controls template-url="common/directive/angular-pager.html" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>

<div popup popup-open="popDelOpen" popup-content="确定要删除这些数据吗？" popup-save="delete"></div>

<div popup popup-open="popupOpen" popup-template="'modifyForm.html'" popup-data="version"></div>

<script type="text/ng-template" id="modifyForm.html">
<div class="popAdmin popup-normal" ng-show="popupOpen" ng-if="template">
    <div class="popAdminTitle">
        {{data.id ? '编辑' : '新增'}}客户端版本号
    </div>
    <div class="popAdminInput">
        <label>
            <span>版本号名称</span>
            <input type="text" ng-model="data.name">
        </label>
        <label>
            <span>版本号</span>
            <input type="text" ng-model="data.number">
        </label>
        <label>
            <span>客户端</span>
            <div class="popAdminSelect" drop-name="isDropClient">
                {{data.curClient.name}}
                <div class="popXlicon popXlicon_green"></div>
            </div>
            <div class="tablexlChecked tablexlChecked_user tablexlChecked_usernew" ng-show="data.isDropClient">
                <span ng-repeat="client in data.clients" ng-click="data.curClient = client">{{client.name}}</span>
            </div>
        </label>

        <label>
            <span>平台</span>
            <div class="popAdminSelect" drop-name="isDropPlatform">
                {{data.curPlatform.name}}
                <div class="popXlicon popXlicon_green"></div>
            </div>
            <div class="tablexlChecked tablexlChecked_user tablexlChecked_usernew" ng-show="data.isDropPlatform">
                <span ng-repeat="platform in data.platforms" ng-click="data.curPlatform = platform">{{platform.name}}</span>
            </div>
        </label>
    </div>

    <div class="popAdminBtn">
        <a class="popAdminBtn-Cancel popAdminBtn-Cancel-attribute" ng-click="cancle()">取消</a>
        <a class="popAdminBtn-OK popAdminBtn-OK-attripute" href="" ng-click="data.postData()">确定</a>
    </div>
    <a class="popAdminBtn-close" href="" ng-click="cancle()"></a>
</div>
</script>
