<!-- 用户管理start -->
<div class="content01" crumb="clientList"></div>
<div class="content02 content02User">
    <a class="addZt plEdited" ng-click="showPopup()">新增</a>
    <a class="tabRight deleteZtUser deleteZtFb" href="" ng-click="preDelete()">删 除</a>
    <label class="ptSearch ptSearchUser">
        <input type="text" placeholder="请输入关键字搜索" ng-model="filtText" ng-keyup="searchKeyUp($event,this,'pageChanged')"/>
        <a class="searchBtn" ng-click="pageChanged(1)"></a>
    </label>
</div>
<div class="content03">
    <table class="tableUser">
        <tbody>
            <tr>
                <th class="tablethZt01">
                    <label class="lable-checked">
                        <input name="check" type="checkbox" check-all /><span></span></label>
                </th>
                <th>客户端名称</th>
                <th>代码</th>
            </tr>
            <tr ng-show="clients.list.length == 0 && !loading">
                <td colspan="3">没有相应的搜索数据，请换个关键字试试！</td>
            </tr>
            <tr dir-paginate="client in clients.list | itemsPerPage: 10" total-items="clients.total">
                <td>
                    <label class="lable-checked">
                        <input name="check" type="checkbox" ng-model="client.check" value="{{client.id}}" ng-click="check($event)">
                        <span></span>
                    </label>
                </td>
                <td><a href="" ng-click="showPopup(client.id)" class="green">{{client.name}}</a></td>
                <td>{{client.code}}</td>
            </tr>
        </tbody>
    </table>
</div>


<dir-pagination-controls template-url="common/directive/angular-pager.html" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>

<div popup popup-open="popDelOpen" popup-content="确定要删除这些数据吗？" popup-save="delete"></div>

<div popup popup-open="popupOpen" popup-template="'modifyForm.html'" popup-data="client"></div>

<script type="text/ng-template" id="modifyForm.html">
<div class="popAdmin popup-normal" ng-show="popupOpen" ng-if="template">
    <div class="popAdminTitle">
        {{data.id ? '编辑' : '新增'}}客户端
    </div>
    <div class="popAdminInput">
        <label>
            <span>客户端名称</span>
            <input type="text" ng-model="data.name">
        </label>
        <label>
            <span>客户端代码</span>
            <input type="text" ng-model="data.code">
        </label>
    </div>

    <div class="popAdminBtn">
        <a class="popAdminBtn-Cancel popAdminBtn-Cancel-attribute" ng-click="cancle()">取消</a>
        <a class="popAdminBtn-OK popAdminBtn-OK-attripute" href="" ng-click="data.postData()">确定</a>
    </div>
    <a class="popAdminBtn-close" href="" ng-click="cancle()"></a>
</div>
</script>
