<div>MZT名称：<input type="text" ng-model="sp.name"></div>
<div>标题名称：<input type="text" ng-model="sp.title"></div>
<div>显示位置：<input type="text" ng-model="sp.position"></div>
<div>MZT分类：<select ng-model="curSpType" ng-options="type.name for type in spTypeList"></select> <button ng-click="popupAddSpType()">新增</button></div>
<div><button ng-click="create()">保存</button></div>

<div class="popup" ng-show="isPopup">
	<div class="hd">新增MZT分类</div>
	<div class="bd"><input type="text" ng-model="newSpType"></div>
	<div class="ft"><button ng-click="cancel()">取消</button> <button ng-click="addSpType()">确定</button></div>
</div>