<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport">
	<title>新MZT</title>
	<link rel="stylesheet" href="/prototype/css/style.css">
	<style>
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {display: none !important;}
		.visibility-hidden {visibility: hidden;}
		.hidden {display: none !important;}
	</style>
</head>




<body ng-click="clickBody()" class="{{pageClass}}">
	<div class="wrapper">

		<!-- quick entrance begin -->
		<style>
		.quick-header {padding: 10px; background: #000; color: #fff;}
		.quick-header a {color: #fff;}
		</style>
		<div class="quick-header" style="display:none">
			<div>
				<span>MZT: </span>
				<a href="#special/16">首页</a> |
				<a href="#special/page/edit/11">编辑</a> |
				<a href="#special/create">创建</a> |
				<a href="#preview/11">预览</a> |
				<a href="#special/1/publish">发布列表</a>
			</div>
			<div>
				<span>页面: </span>
				<a href="#page/edit/16">编辑</a> |
				<a href="#page/create">创建</a> |
				<a href="#page/create/sub">子页面创建</a> |
				<a href="#page/1/upload">一键导入id</a>
			</div>
			<!-- <div>
				<span>module: </span>
				<a href="#module/list">module_list</a> |
				<a href="#module/create">module_create</a> |
				<a href="#module/edit/11">module_edit</a>
			</div> -->
			<div>
				<span>角色: </span>
				<a href="#role/list">列表</a> |
				<a href="#role/create">创建</a> |
				<a href="#role/edit/11">编辑</a>
			</div>
		</div>
		<!-- quick entrance end -->

		<!-- header begin -->
		<section class="header">
			<a href="javascript:void(0)" class="logoWz" ng-click="toIndex()">
				<p>新MZT系统</p>
			</a>
			<div class="xsfw">
				<span>显示范围</span>
				<div class="xsfwXL" ng-click="toggleShow($event,'isToplistShow')">
					<b>特卖会</b>
				</div>
				<div class="xsfwXLnr hide" ng-class="{hide : !isToplistShow}">
					<span class="checked">特卖会</span>
					<span>特卖会</span>
				</div>
			</div>
			<div class="head_rt">
				<img src="/prototype/images/icon02.png"/>
				<span><strong ng-click="toggleShow($event,'isSysShow')">系统管理</strong>Hello,<b class="nameDL" id="Jusername"></b><b>|</b> <a href="admin.php/user/logout">退出</a></span>
				<div class="head_rtXl hide" ng-class="{hide : !isSysShow}">
					<!-- <a href="#/user/list"><b>用户管理</b></a>
					<a href="#/role/list"><b>角色管理</b></a> -->
					<a href="#/component/list"><b>组件管理</b></a>
					<a href="#/style/list"><b>样式管理</b></a>
					<a href="#/style/cate/list"><b>样式组分类管理</b></a>
					<a href="#/special/list"><b>MZT分类管理</b></a>
					<a href="#/consumer/list"><b>客户类型管理</b></a>
					<a href="#/client/list"><b>客户端管理</b></a>
					<a href="#/client/version/list"><b>客户端版本管理</b></a>
					<a href="#/log/list"><b>日志管理</b></a>
					<a href="#/cdi/list"><b>用户群管理</b></a>
					<a href="#/whiteList/edit"><b>id白名单</b></a>
				</div>
			</div>
			<div class="noticeboard" id="J-noticeboard">
				<p class="title" ng-click="toggleShow($event,'isNoticeBoardShow')">公告栏</p>
				<span class="red hide"></span>
				<div class="main hide" ng-class="{hide : !isNoticeBoardShow}">
					<span class="narrow_bottom"></span>
					<div class="cont">
						<div class="item">
							<h2>新MZT系统V1.23.1130</h2>
							<ul>
								<li>档期个性化—支持走dap数据录入的档期个性化排序</li>
								<li>档期样式更新—支持显示红包金额</li>
								<li>MZT分类管理功能—支持MZT分类的增删改查</li>
								<li>商品爆款推荐—支持通过输入特定的条件自动筛出符合的商品</li>
							</ul>
							<a href="http://wiki.corp.vipshop.com/pages/viewpage.action?pageId=63411855" target="_blank" class="more">更多</a>
						</div>
						<div class="item">
							<h2>新MZT系统V1.22.1118</h2>
							<ul>
								<li>富文本组件—可支持图文混排的MZT页制作</li>
								<li>新增MZT权限管理—完善角色权限管理，支持MZT分类可见</li>
								<li>操作优化—支持在发布预览页直接调整显示隐藏</li>
								<li>分享按钮移至原生右上角—分享按钮可选择在原生或在页面内显示</li>
								<li>体验优化—品购页支持显示已售完icon</li>
								<li>体验优化—倒计时组件支持叠加背景</li>
							</ul>
							<a href="http://wiki.corp.vipshop.com/pages/viewpage.action?pageId=63411855" target="_blank" class="more">更多</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- header end -->

		<!-- content begin -->
		<section class="content">
			<div class="view-container">
				<div class="view-frame" ng-view></div>
			</div>
		</section>
		<!-- content end -->

		<!-- footer begin -->
		<section class="footer">
		  <p>Design by mobile UED@kimi</p>
		</section>
		<!-- footer end -->

		<!-- loading begin -->
		<div ng-show="loading" class="loading">
			<div class="loading-content"><div class="loading-cell"><span class="loading-wrap"><img src="prototype/images/loading.gif"></span></div></div>
		</div>
		<!-- loading end -->

	</div>

	<script src="/bower_component/jquery/dist/jquery.js"></script>
	<script src="/bower_component/jquery-qrcode/jquery.qrcode.min.js"></script>
	<script src="/bower_component/jquery-ui/jquery-ui.js"></script>
	<script src="/bower_component/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
	<script src="/bower_component/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.js"></script>
	<script src="/bower_component/jqueryui-timepicker-addon/dist/i18n/jquery-ui-timepicker-zh-CN.js"></script>
	<script src="/bower_component/angular/angular.js"></script>
	<script src="/bower_component/angular-route/angular-route.js"></script>
	<script src="/bower_component/angular-lazyload/dist/angular-lazyload.js"></script>
	<script src="/bower_component/angular-animate/angular-animate.js"></script>
	<script src="/bower_component/angular-resource/angular-resource.js"></script>
	<script src="/bower_component/angular-dragdrop/src/angular-dragdrop.js"></script>
	<script src="/bower_component/angular-sortable-view/src/angular-sortable-view.js"></script>
	<script src="/bower_component/angular-utils-pagination/dirPagination.js"></script>
	<script src="/bower_component/angular-ueditor/dist/angular-ueditor.js"></script>
	<script src="/common/directive/ueditor/utf8-php/ueditor.config.js"></script>
	<script src="/common/directive/ueditor/utf8-php/ueditor.all.js"></script>
	<script src="/bower_component/seajs/dist/sea.js"></script>
	<script src="/bower_component/seajs-css/dist/seajs-css.js"></script>
	<script>
	seajs.config({
		base: '/',
		alias: {
			'datepicker-i18n' : 'bower_component/jquery-ui/ui/i18n/datepicker-zh-CN.js',
			'file-upload': 'bower_component/angular-file-upload/angular-file-upload.js'
		},
		preload: ["datepicker-i18n"]
	});

	seajs.use('common/app', function() {
		angular.bootstrap(document, ['app']);
	});

	</script>
<div></div>

<a href="javascript:window.scrollTo(0,0)" class="rocket"></a>


<script type="text/javascript">

var _smq = _smq || [];
_smq.push(['_setAccount', '63e2363', new Date()]);
_smq.push(['_setDirectoryIndex', '/index.html']);
_smq.push(['pageview']);

(function() {
var sm = document.createElement('script'); sm.type = 'text/javascript'; sm.async = true;
sm.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 's2.vipstatic.com/js/public/inf/sm.js?1201404082';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sm, s);
})();


(function() {
	function getCookie(c_name){
		if(document.cookie.length > 0){
		    var c_start = document.cookie.indexOf(c_name + "=");
		    if(c_start != -1){
			    c_start = c_start + c_name.length + 1;
			    var c_end = document.cookie.indexOf(";",c_start);
			    if (c_end == -1){
			    	c_end = document.cookie.length;
			    }
			    return unescape(document.cookie.substring(c_start,c_end));
		    }
	    }
	    return "";
	}

	function setCookie(){
	    document.cookie = "version_num=" + escape("v1.23.1130");
	}

    var num = getCookie('version_num');
	if(num !== escape("v1.23.1130")){
		var red = $('#J-noticeboard .red');
		red.show();
		$('#J-noticeboard .title').click(function(){
			setCookie();
			red.hide();
		})
	}
})();


</script>


</body>

</html>
