<style type="text/css">
    .cache {max-width: 1300px; margin: 0 auto; padding-top: 20px;}

    .cache-header {margin-bottom: 10px;}
    .cache-header select,.cache-header input,.cache-header .btn-blue,.cache-header span {float: left; margin-right: 10px;}
    .cache-header select,.cache-header input {height: 30px; line-height: 30px; border: 1px solid #e1e1e1}
    .cache-header select {width: 200px;}
    .cache-header input {padding-left: 5px; height: 28px; line-height: 28px;}
    .cache-header span {line-height: 30px;}

    .cache-list-header {}

    .cache-list .content03,.cache-list .content03 ul {width: 100%;}
    .cache-list .content03 li {height: auto;}
    .cache-list .detailBox table {width: 100%; height: auto;}
    .cache-list .detailBox table .checkedEdite .edictList {width: auto; padding: 0 5px; float: none; display: inline-block; color: #fff}
    .cache-list .detailBox table .checkedEdite {width: auto;}

    .no-data {padding-left: 20px;}
</style>
<div class="cache">
    <div class="cache-header clearfix">
        <select ng-model="cate_id" ng-change="getStyleList()">
            <option value="">选择组件</option>
            <option value="{{cate.id}}" ng-repeat="cate in cates">{{cate.name}}</option>
        </select>
        <select ng-model="style_id">
            <option value="">选择样式</option>
            <option value="{{style.id}}" ng-repeat="style in styleList">{{style.name}}</option>
        </select>

        <span class="tips">MZT创建时间段：</span>
        <input type="text" class="time-picker" ng-model="start_time" ui-time="global_start_time" ui-time-time="{'hour' : '0','minute' : '0','second' : '0'}" ui-min-range="global_end_time" placeholder="开始时间">
        <span> - </span>
        <input type="text" class="time-picker" ng-model="end_time" ui-time="global_end_time" ui-time-time="{'hour' : '12','minute' : '59','second' : '59'}" ui-max-range="global_start_time" placeholder="结束时间">
        <a href="javascript:" class="btn-blue" ng-click="search()">刷新组件样式</a>
        <a href="javascript:" class="btn-blue" ng-click="clearCache()" ng-show="page_ids.length > 0">确认清楚缓存</a>
        <div class="clear"></div>
    </div>
    <div class="cache-list">

        <div class="content03">
            <ul>
                <li ng-show="(!specials || specials.length == 0) && !loading" class="no-data">
                    没有相应的搜索数据，请换个关键字试试！
                </li>
                <li ng-show="specials.length > 0">
                    <div class="summaryBox" ng-if="tab.param !='toBeUpdated'">
                        <input class="summaryBox-checkbox" type="checkbox" name="brand">
                        <label class="lable-checked lable-checkedselectedT">
                            <input type="checkbox" ng-model="checkAll" ng-click="selectAllSpecial($event)" />
                            <span></span>
                        </label>
                        全选
                    </div>
                </li>
                <li ng-repeat="brandItem in specials">
                    <div class="summaryBox" ng-if="tab.param !='toBeUpdated'">
                        <input class="summaryBox-checkbox" type="checkbox" name="brand">
                        <label class="lable-checked lable-checkedselectedT">
                            <input type="checkbox" value="{{brandItem.id}}" ng-model="brandItem.checked" ng-click="selectAll($event,brandItem.id)" />
                            <span></span>
                        </label>
                        <div class="summaryBox-pos summaryBox_selected">{{brandItem.id}}</div>
                        <a class="summaryBox-name summaryBox_selected" target="_brank" href="/#/special/edit/{{brandItem.id}}">{{brandItem.name}}</a>
                        <a href="javascript:;" ng-class="{'summaryBox-toggle':brandItem.fold,'summaryBox-toggle-checked':!brandItem.fold}" ng-click="getPageList(brandItem);"></a>
                    </div>
                    <div class="detailBox" ng-show="!brandItem.fold">
                        <table>
                            <tbody>
                                <tr>
                                    <th width="5%;">选择</th>
                                    <th width="8%">档期图预览</th>
                                    <th>用户群体</th>
                                    <th width="5%;">仓位</th>
                                    <th width="10%">在售类型</th>
                                    <th width="14%">客户类型</th>
                                    <th width="7%">开始时间</th>
                                    <th width="7%">结束时间</th>
                                    <th width="8%">插入频道</th>
                                    <!-- <th>MZT分类</th> -->
                                    <th width="18%">操作</th>
                                </tr>
                                <tr ng-repeat="tplItem in childPage[brandItem.id]">
                                    <td>
                                        <label class="lable-checked">
                                            <input type="checkbox" name="tpl" value="{{tplItem.id}}" ng-model="tplItem.checked" ng-click="updateSelection($event, tplItem.id)" /><span></span> {{tplItem.id}}</label>
                                    </td>
                                    <td><img ng-src="{{tplItem.image ? tplItem.image : 'prototype/images/icon11.png'}}" ng-click="showPopupImg(tplItem.image)" width="95" heigth="44" /></td>
                                    <td>{{tplItem.rule_name}}</td>
                                    <td>{{tplItem.warehouse}}</td>
                                    <td>{{tplItem.sale_type}}</td>
                                    <td>{{tplItem.member_type}}</td>
                                    <td>{{tplItem.start_time | time1}} <span class="timeColor">{{tplItem.start_time | time2}}</span></td>
                                    <td>{{tplItem.end_time | time1}} <span class="timeColor">{{tplItem.end_time | time2}}</span></td>
                                    <td>{{tplItem.channel_name}}</td>
                                    <!-- <td>{{tplItem.special_type}}</td> -->
                                    <td>
                                        <div class="checkedEdite">
                                            <a class="edictList" href="javascript:" ng-click="clearCache(tplItem.id)">清楚缓存</a>
                                            <a class="edictList" href="javascript:" ng-click="toPageEdit($event, tplItem, brandItem.id)">编辑</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>

        </div>

    </div>
</div>
