
<!-- 新建模板start -->
<div class="content01">
    <div class="navZt">
        <a ng-click="toIndex()">首页</a>
        <a href="#/style/list">样式管理</a>
        <a class="navselectedAdd">新增样式</a>
    </div>
</div>
<div class="content03 content_attribute">
    <div class="addStyle_content01">
        <div class="addStyle_content01_left">
            <label>
                <b>样式组名称</b>
                <input type="text" name="name" ng-model="style.name" required>
            </label>
            <label>
                <b>样式组分类</b>
                <div class="popAdminSelect popAdminSelectBatchEdite popXlicon_addStyle" ng-click="isDropType = true; $event.stopPropagation()">
                    下拉选择分类
                    <div class="popXlicon popXlicon_red"></div>
                </div>
                <div class="tablexlChecked tablexlChecked_attribute" ng-show="isDropType">
                    <span ng-repeat="type in types" ng-click="setSelectValue('curType',type)">{{type.name}}</span>
                </div>
            </label>
        </div>
        <div class="addStyle_content01_right">
            <b>样式预览图</b>

            <div class="yulanPic" style="background:url({{style.preview}}) center center no-repeat"></div>
            <input type="file" nv-file-select="" uploader="uploader" ng-model="style.preview"/>
            <a class="addStyleBtn" ng-click="selectFile($event,'preview')"></a>
        </div>
    </div>
    <div class="addStyle_content02">
        <div class="fcRadio">
            是否默认样式
            <label class="lable-checked lable-checkedNewpageRadio">
                <input type="radio" name="default" ng-model="style.default" value="1">
                <span></span> 是
            </label>
            <label class="lable-checked lable-checkedNewpageRadio">
                <input type="radio" name="default" ng-model="style.default" value="0">
                <span></span> 否
            </label>
        </div>
    </div>
    <div class="addStyle_content03">
        <label>
            <b>HTML模块</b>
            <textarea ng-model="style.html" placeholder="请添加信息"></textarea>
        </label>
        <label>
            <b>CSS样式</b>
            <textarea ng-model="style.css" placeholder="请添加信息"></textarea>
        </label>
        <label>
            <b>JS交互</b>
            <textarea ng-model="style.js" placeholder="请添加信息"></textarea>
        </label>
    </div>
    <div class="addStyle_content04">
        <div class="popAddFloorInput popAddFloorInputNewstyleAdd">
            <b>请添加素材</b>
            <label>
                <input type="text" class="text" ng-model="fileName" ng-readonly="true">
                <input type="file" nv-file-select="" uploader="uploader" multiple>
                <a ng-click="selectFile($event,'material')">浏览</a>
            </label>
        </div>
    </div>
    <div class="addStyle_content05">
        <table>
            <tbody>
                <tr>
                    <th>序号</th>
                    <th>素材预览图</th>
                    <th>素材名称</th>
                    <th>素材URL</th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat="material in pager.materials">
                    <td>
                        {{(pager.pageNo - 1) * pager.pageNum + $index + 1}}
                    </td>
                    <td>
                        <img width="100" ng-src="{{material.src}}"/>
                    </td>
                    <td>
                        {{material.name}} + {{material.id}}
                    </td>
                    <td>
                        {{material.src}}
                    </td>
                    <td>
                        <a class="tabRight deleteZtUser deleteZtFb" href="" ng-click="deleteEnterRow($index)">删 除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="addStyle_content06">
        <span>每页显示</span>
        <input class="tiaozhuanK" type="text" ng-model="pager.pageNum"/>
        <span>条</span>
        <a class="popPicSyiyeAddStyle" ng-click="pager.prev()">上一页</a>
        <a class="popPicNextAddStyle" ng-click="pager.next()">下一页</a>
    </div>
    <div class="addStyle_content07">
        <a class="btn01_addStyle" href="javascript:;">取消</a>
        <a class="btn02_addStyle" href="javascript:;">确定</a>
    </div>
</div>

