<style type="text/css">
    .popAdmin {position: relative; top: 0; margin-top: 50px; margin-bottom: 50px;}
</style>

<div class="popAdmin" style="display:block;">
    <div class="popAdminTitle">
        {{cate.id ? '编辑' : '新增'}}样式分类
    </div>
    <div class="popAdminInput">
        <label>
            <span>分类编号</span>
            <input type="text" ng-model="cate.style_cate_code">
        </label>
        <label>
            <span>分类名称</span>
            <input type="text" ng-model="cate.name">
        </label>
    </div>

    <div class="popAdminBtn">
        <a class="popAdminBtn-Cancel popAdminBtn-Cancel-attribute" href="#/style/cate/list">取消</a>
        <a class="popAdminBtn-OK popAdminBtn-OK-attripute" href="javascript:;" ng-click="postData()">确定</a>
    </div>
    <!-- <a class="popAdminBtn-close" href="javascript:;"></a> -->
</div>


