<div class="content01" crumb="styleList"></div>
<div class="content02 content02User">
<div class="tableXl tableXlStyleManage" drop-name="isDropType">
    {{curType.name}}
    <span></span>
</div>
<div class="tablexlChecked tablexlChecked_user tablexlChecked_usernew tablexlChecked_usernewStyle" ng-show="isDropType">
    <span ng-repeat="cate in cates" ng-click="setSelectValue('curType',cate);pageChanged(1)">{{cate.name}}</span>
</div>
<div class="tableXl tableXlStyleManage"  drop-name="isDropDefault">
    {{curDefault.name}}
    <span></span>
</div>
<div class="tablexlChecked tablexlChecked_user tablexlChecked_usernew tablexlChecked_usernewStyle tablexlChecked_usernewStyle02" ng-show="isDropDefault">
    <span ng-repeat="default in defaults" ng-click="setSelectValue('curDefault',default);pageChanged(1)">{{default.name}}</span>
</div>

<a class="addZt addZtStyleManage" href="#/style/create">新 增</a>
<a class="tabRight deleteZt deleteZtUser deleteZtStyleManage" ng-click="preDelete()">删 除</a>
<label class="ptSearch ptSearchUser ptSearchStyleManage">
    <input type="text" ng-model="filtText" placeholder="请输入关键字搜索" ng-keyup="searchKeyUp($event,this,'pageChanged')">
    <a class="searchBtn" ng-click="pageChanged(1)"></a>
</label>
</div>
<div class="content03">
    <table class="tableUser">
        <tbody>
            <tr>
                <th>
                    <label class="lable-checked">
                    <input name="check" type="checkbox" check-all/><span></span></label>
                </th>
                <th>缩略图</th>
                <th>样式组名称</th>
                <th>样式组类型</th>
                <th>是否默认样式</th>
                <th>创建时间</th>
            </tr>
            <tr ng-show="style.list.length == 0 && !loading" class="no-data">
                <td colspan="6">没有相应的搜索数据，请换个关键字试试！</td>
            </tr>
            <tr dir-paginate="list in style.list | itemsPerPage: 10" total-items="style.total">
                <td>
                    <label class="lable-checked">
                        <input name="check" type="checkbox" ng-model="list.check" value="{{list.id}}" ng-click="check($event)">
                        <span></span>
                    </label>
                </td>
                <td><img width="100" ng-src="{{list.thumb}}" ng-click="showPopupImg(list.thumb)"></td>
                <td><a href="#/style/edit/{{list.id}}" class="green">{{list.name}}</a></td>
                <td>{{list.style_cate_name}}</td>
                <td>{{list.is_default_str}}</td>
                <td>{{list.create_time}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- 权限设置end -->

<dir-pagination-controls template-url="common/directive/angular-pager.html" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>

<div popup-img is-popup-show="isPopupShow" show-popup-img="showPopupImg"></div>

<div popup popup-content="确定要删除？" popup-open="popDelOpen" popup-save="delete"></div>
