<div class="content01" crumb="styleCateList"></div>
<div class="content02 content02User">
    <a class="addZt plEdited" href="" ng-click="showPopup()">新增</a>
    <a class="tabRight deleteZtUser deleteZtFb" href="" ng-click="preDelete()" >删 除</a>
    <a class="tabRight deleteZtUser manaUser publishBtn" href="#/component/list">组件管理</a>

    <label class="ptSearch ptSearchUser">
        <input type="text" placeholder="请输入关键字搜索" ng-model="filtText" ng-keyup="searchKeyUp($event,this,'pageChanged')"/>
        <a class="searchBtn" ng-click="pageChanged(1)"></a>
    </label>
</div>
<div class="content03">
    <table class="tableUser">
        <tbody>
            <tr>
                <th width="10%">
                    <label class="lable-checked">
                    <input name="check" type="checkbox" check-all/><span></span></label>
                </th>
                <th width="20%">样式分类编号</th>
                <th>样式分类名称</th>
            </tr>
            <tr ng-show="style.list.length == 0 && !loading" class="no-data">
                <td colspan="6">没有相应的搜索数据，请换个关键字试试！</td>
            </tr>
            <tr dir-paginate="list in style.list | itemsPerPage: 10" total-items="style.total">
                <td>
                    <label class="lable-checked">
                        <input name="check" type="checkbox" ng-model="list.check" value="{{list.id}}" ng-click="check($event)">
                        <span></span>
                    </label>
                </td>
                <td>{{list.style_cate_code}}</td>
                <td><a href="" ng-click="showPopup(list.id)" class="green">{{list.name}}</a></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- 权限设置end -->

<dir-pagination-controls template-url="common/directive/angular-pager.html" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>

<div popup popup-content="确定要删除？" popup-open="popDelOpen" popup-save="delete"></div>

<div popup popup-open="popupOpen" popup-template="'modifyForm.html'" popup-data="cate"></div>

<script type="text/ng-template" id="modifyForm.html">
<div class="popAdmin popup-normal" ng-show="popupOpen" ng-if="template">
    <div class="popAdminTitle">
        {{data.id ? '编辑' : '新增'}}样式分类
    </div>
    <div class="popAdminInput">
        <label>
            <span>分类编号</span>
            <input type="text" ng-model="data.style_cate_code">
        </label>
        <label>
            <span>分类名称</span>
            <input type="text" ng-model="data.name">
        </label>
    </div>

    <div class="popAdminBtn">
        <a class="popAdminBtn-Cancel popAdminBtn-Cancel-attribute" ng-click="cancle()">取消</a>
        <a class="popAdminBtn-OK popAdminBtn-OK-attripute" href="" ng-click="data.postData()">确定</a>
    </div>
    <a class="popAdminBtn-close" href="" ng-click="cancle()"></a>
</div>
</script>
