<div class="content01" crumb="styleCate"></div>
<div class="content02 content02User">
<div class="tableXl tableXlStyleManage" ng-click="isDropType = true; $event.stopPropagation()">
    {{curType.name ? curType.name : '下拉选择样式组分类'}}
    <span></span>
</div>
<div class="tablexlChecked tablexlChecked_user tablexlChecked_usernew tablexlChecked_usernewStyle hide" ng-show="isDropType">
    <span ng-repeat="type in types" ng-click="setSelectValue('curType',type)">{{type.name}}</span>
</div>
<div class="tableXl tableXlStyleManage" ng-click="isDropDefault = true; $event.stopPropagation()">
    {{curDefault.name ? curDefault.name : '下拉选择是否默认'}}
    <span></span>
</div>
<div class="tablexlChecked tablexlChecked_user tablexlChecked_usernew tablexlChecked_usernewStyle tablexlChecked_usernewStyle02 hide" ng-show="isDropDefault">
    <span ng-repeat="default in defaults" ng-click="setSelectValue('curDefault',default)">{{default.name}}</span>
</div>

<a class="addZt addZtStyleManage" href="#/style/create">新 增</a>
<a class="tabRight deleteZt deleteZtUser deleteZtStyleManage" ng-click="deleteStyle()">删 除</a>
<label class="ptSearch ptSearchUser ptSearchStyleManage">
    <input type="text" ng-model="filtText" placeholder="请输入关键字搜索" ng-click="pageChanged(1)">
    <a class="searchBtn" ng-click="doSearch()"></a>
</label>
</div>
<div class="content03">
    <table class="tableUser">
        <tbody>
            <tr>
                <th>
                    <label class="lable-checked">
                    <input type="checkbox" /><span></span></label>
                </th>
                <th>缩略图</th>
                <th>样式组名称</th>
                <th>样式组类型</th>
                <th>是否默认样式</th>
                <th>创建时间</th>
            </tr>
            <tr dir-paginate="list in styles.list | itemsPerPage: 10" total-items="style.total">
                <td>
                    <label class="lable-checked">
                        <input name="check" type="checkbox" ng-model="list.check" value="{{list.id}}" ng-click="check($event)">
                        <span></span>
                    </label>
                </td>
                <td><img width="100" ng-src="{{list.image ? list.image : 'prototype/images/icon11.png'}}"></td>
                <td><a href="#/style/edit/{{list.id}}">{{list.name}}</a></td>
                <td>{{list.type}}</td>
                <td>{{list.default == 1 ? "是" : "否"}}</td>
                <td>{{list.time}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- 权限设置end -->

<dir-pagination-controls template-url="common/directive/angular-pager.html" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
