<style>
.dqmubanSelectXla {left: 230px; top: 33px;}
.templetZtmb-neirongUploadpicPhone, .templetZtmb-neirongUploadpicPhone iframe {width: 375px; height: 568px; margin: 0 auto;}
.templetZtmb-neirongUploadTop label { width: auto; position: relative; top: 5px; left: 0; margin:0 10px;}
.templetZtmb-neirongUploadTop label input {width: 100%;}
.templetZtmb-neirongUploadTop span {margin-right: 5px;}
.templetZtmb-neirongUploadTopPhone {width: 375px}

.pad .header, .pad .content, .pad .footer, .pad .footer p {width: 1900px;}
.pad .content01 {width: 1846px;}
.pad .content03 {width: 1847px;}
.pad .templetZtmb {margin: 0; width: auto;}
.pad .templetZtmb-contentUploadpic {width: 1024px;}
.pad .templetZtmb-neirongiPhone {width: 1024px;}
.pad .popAdd {margin-left: 460px; }
.pad .content_preview_left {width: 1065px;}
.pad .templetZtmb-neirongUploadTopPhone {width: 1024px;}
.pad .templetZtmb-neirongUploadpicPhone {width: 1024px;}
.pad .templetZtmb-neirongUploadpicPhone, .pad .templetZtmb-neirongUploadpicPhone iframe {width: 1024px; height: 768px;}


.template-list {width: auto; height: 300px; float: none; margin-right: 0; overflow-x: hidden; overflow-y: auto;}
.page-content ul {width: auto;}
.page-content ul li {height: auto;}

.tableXlStyleManage{position: absolute; margin-top: 0; right: 265px; top: 8px; text-align: center;  width: 170px; text-align: left; cursor: pointer;}
.tableXlStyleManage>span{background-color: #D1D1D1; position: absolute; top: 0; right: 0;}
.tablexlChecked{ position: absolute; top: 35px; left: 515px; width: 183px;}
.tablexlChecked .lable-checked{height: auto; min-height: 28px;}
.dqmubanSelect_preview{left: 220px;}
.BtnTabphonepad-preview{ margin-left:0; left: 20px; position: absolute;}
.previewXlicon_time{position: absolute; width: 220px; right: 20px; top: 4px; background: #F0EDF0}
.previewXlicon_time input{ border: none; background: none;}
.time-picker-ok{  padding: 0 5px; height: 22px; line-height: 22px; color: #ffffff; text-align: center; background: #59C893;  display: inline-block; vertical-align: middle; position: relative; right: -7px; cursor: pointer;}

</style> <section class="content">
    <!-- 新建模板start -->
    <div class="content01" crumb="specialEditFlow" special-id="specialId" page-type-id="pageTypeId" parent-id="parentId" page-id="pageId"></div>
    <div class="content03 content_preview">
        <div class="content_preview_left">
            <div class="content_preview_left_top">

                <div class="dqmubanSelect dqmubanSelect_preview" ng-click="isDrop = true; $event.stopPropagation();"><span>当前模板：</span>{{curOption.name}}
                    <a class="dqmubanSelectXl" href="javascript:;"></a>
                </div>

                <div class="dqmubanSelectXla" ng-show="isDrop">
                    <div class="template-list">
                        <div class="template-list-content" ng-repeat="parent in list">
                            <div class="page-parent">
                                <div class="page-parent-title" ng-class="{'on': curPage.id == parent.parent_id }" ng-click="change(parent.parent_id, parent.page_type, parent.parent_id)">{{parent.parent_name}}</div>
                                <div class="page-parent-content">
                                    <div class="page-rule-list" ng-repeat="rule in parent.data">
                                        <div class="page-rule-title"> {{rule.rule_name}}</div>
                                        <div class="page-rule-content">
                                            <div class="page-content">
                                                <ul>
                                                    <li ng-repeat="item in rule.data" ng-class="{'on': curPage.id == item.page_id }" ng-click="change(item.page_id, item.page_type, parent.parent_id)" title="{{item.page_name}}">{{item.page_name}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- <span ng-repeat="item in list" ng-click="change(item)">{{item.name}}</span> -->
                </div>

                <div class="BtnTabphonepad BtnTabphonepad BtnTabphonepad-preview">
                    <span ng-class="{'BtnTabphonepad-checked': pageClass == 'phone'}" ng-click="toOtherClient('phone')">Phone</span>
                    <span ng-class="{'BtnTabphonepad-checked': pageClass == 'pad'}" ng-click="toOtherClient('pad')">Pad</span>
                </div>

                <div class="popAdminSelect popAdminSelectBatchEdite previewXlicon_time" >
                    <input class="time-picker" ng-model="time" ui-time="time" ui-time-time="{'hour' : '10','minute' : '0','second' : '0'}"  ng-readonly="true"  placeholder="时间点预览">
                    <!-- <div class="popXlicon"></div> -->
                    <a href="javascript:;" class="time-picker-ok" ng-click="changeTime()">确定</a>
                </div>

                <div class="tableXl tableXlStyleManage ng-binding" drop-name="isDropRule" >
                    用户群：{{cur_cdi_type}}
                    <span></span>
                </div>
                <div class="tablexlChecked tablexlChecked_user tablexlChecked_usernew tablexlChecked_usernewStyle " ng-show="isDropRule">
                    <div class="checks">
                        <span class="lable-checked"  ng-click="changeCdiType('')">
                            默认
                        </span>
                        <span class="lable-checked" ng-repeat="rule in rules" ng-click="changeCdiType(rule.rule_id, rule.name)">
                            {{rule.rule_name}}
                        </span>
                    </div>
                </div>

            </div>
            <div class="content_preview_left_content">
                <div class="templetZtmb-contentUploadpic templetZtmb-contentUploadpic_preview">
                    <div class="templetZtmb-neirongUploadTop templetZtmb-neirongUploadTopPhone templetZtmb-neirongUploadTop_preview">
                        <!-- <span> &lt; </span> -->
                        <label>
                            <input type="text" placeholder="唯品会">
                        </label>
                    </div>
                    <div class="templetZtmb-neirongUploadpicPhone">
                        <iframe ng-src="{{curUrl}}" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_preview_right">
            <div class="visitMible">
                <p>手机扫码访问：</p>
                <div class="erweima_preview">
                    <div id="qrcode"></div>
                </div>
                <p>复制链接查看</p>
                <label class="lookLink_preview">
                    <input type="text" placeholder="" ng-model="curUrl" readonly>
                    <a href="javascript:;" id="btn-copy" data-clipboard-text="{{curUrl}}" title="Click to copy me." ng-click="toUrl(curUrl)">复制</a>
                    <!-- <a href="javascript:;" id="btn-copy" data-clipboard-text="{{curUrl}}" title="Click to copy me." ng-click="window.open(curUrl)">复制</a> -->
                    <!-- <a href="javascript:;" id="btn-redirect" ng-click="toSpecialPage($event)">跳转</a> -->
                </label>
            </div>
        </div>
    </div>
</section>
