<!-- 用户管理start -->
<div class="content01" crumb="logList"></div>

<div class="content02 content02User">
    <div class="tableXl tableXlStyleManage ng-binding" drop-name="isDropIp">
        {{curIp.name}}
        <span></span>
    </div>
    <div class="tablexlChecked tablexlChecked_user tablexlChecked_usernew tablexlChecked_usernewStyle" ng-show="isDropIp">
        <span ng-repeat="ip in ips" ng-click="$parent.curIp = ip;pageChanged(1)">{{ip.name}}</span>
    </div>

    <a class="tabRight deleteZt deleteZtUser deleteZtStyleManage" ng-click="preDelete()">删 除</a>
    <label class="ptSearch ptSearchUser ptSearchStyleManage">
        <input type="text" placeholder="请输入用户名搜索" ng-model="filtText" ng-keyup="searchKeyUp($event,this,'pageChanged')"/>
        <a class="searchBtn" ng-click="pageChanged(1)"></a>
    </label>
</div>
<div class="content03">
    <table class="tableUser">
        <tbody>
            <tr>
                <th class="tablethZt01">
                    <label class="lable-checked">
                        <input name="check" type="checkbox" check-all /><span></span></label>
                </th>
                <th>操作内容</th>
                <th>操作时间</th>
                <th>操作人</th>
                <th>操作人IP</th>
            </tr>
            <tr ng-show="logs.list.length == 0 && !loading">
                <td colspan="5">没有相应的搜索数据，请换个关键字试试！</td>
            </tr>
            <tr dir-paginate="log in logs.list | itemsPerPage: 10" total-items="logs.total">
                <td>
                    <label class="lable-checked">
                        <input name="check" type="checkbox" ng-model="log.check" value="{{log.id}}" ng-click="check($event)">
                        <span></span>
                    </label>
                </td>
                <td>{{log.db_record}}</td>
                <td>{{log.update_time}}</td>
                <td>{{log.username}}</td>
                <td>{{log.ip_address}}</td>
            </tr>
        </tbody>
    </table>
</div>


<dir-pagination-controls template-url="common/directive/angular-pager.html" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>

<div popup popup-open="popDelOpen" popup-content="确定要删除这些数据吗？" popup-save="delete"></div>
